BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

SYSCONFIG MCCLK_FREQ = 20;

FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;
#FREQUENCY PORT CLK_PCLK_LEFT  200 MHz;
#FREQUENCY PORT CLK_GPLL_RIGHT 200 MHz;
#FREQUENCY PORT CLK_GPLL_LEFT  125 MHz;
  
#################################################################
# Reset Nets
#################################################################  
GSR_NET NET "GSR_N";  

MULTICYCLE TO CELL "THE_RESET_HANDLER/final_reset*" 20 ns;

#################################################################
# Locate Serdes and media interfaces
#################################################################

LOCATE COMP          "THE_MEDIA_UPLINK/gen_serdes_1_200_THE_SERDES/PCSD_INST" SITE "PCSA" ;
REGION               "MEDIA_UPLINK" "R92C82D" 23 19;
LOCATE UGROUP        "THE_MEDIA_UPLINK/media_interface_group" REGION "MEDIA_UPLINK" ;

MULTICYCLE TO CELL  "THE_SPI_RELOAD_THE_SPI_MASTER_THE_SPI_SLIM_tx_sreg_oregio*" 20 ns;


#################################################################
# ADC Processor
#################################################################  

# UGROUP "Proc_0" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_0_THE_ADC_PROC;
# UGROUP "Proc_1" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_1_THE_ADC_PROC;
# UGROUP "Proc_2" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_2_THE_ADC_PROC;
# UGROUP "Proc_3" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_3_THE_ADC_PROC;
# UGROUP "Proc_4" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_4_THE_ADC_PROC;
# UGROUP "Proc_5" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_5_THE_ADC_PROC;
# UGROUP "Proc_6" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_6_THE_ADC_PROC;
# UGROUP "Proc_7" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_7_THE_ADC_PROC;
# UGROUP "Proc_8" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_8_THE_ADC_PROC;
# UGROUP "Proc_9" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_9_THE_ADC_PROC;
# UGROUP "Proc_10" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_10_THE_ADC_PROC;
# UGROUP "Proc_11" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_11_THE_ADC_PROC;

INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_1;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_2;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_3;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_4;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_5;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_6;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_7;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_8;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_9;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_10;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_11;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_12;

#################################################################
# Clocks
#################################################################  
#USE PRIMARY NET "CLK_GPLL_RIGHT_c";
#USE PRIMARY NET "CLK_PCLK_LEFT_c";

USE PRIMARY NET "CLK_PCLK_RIGHT_c";

#USE PRIMARY2EDGE NET "THE_ADC/clk_adcfast_i_0";
#USE PRIMARY2EDGE NET "THE_ADC/clk_adcfast_i_1";

#MULTICYCLE FROM CLKNET "clk_100_i_c" TO CLKNET "gen_reallogic_THE_ADC/adc_clk_right_c" 2 X;
#MULTICYCLE FROM CLKNET "gen_reallogic_THE_ADC/adc_clk_right_c" TO CLKNET "clk_100_i_c" 2 X;
#MULTICYCLE FROM CLKNET "clk_100_i_c" TO CLKNET "P_CLOCK_c" 2 X;
#MULTICYCLE FROM CLKNET "P_CLOCK_c" TO CLKNET "clk_100_i_c" 2 X;

# left are ADCs 0-5 and 7 (counted from 0)
UGROUP "THE_ADC_LEFT_group" BLKNAME gen_reallogic.THE_ADC/THE_ADC_LEFT;
REGION "THE_ADC_LEFT_region" "R57C2D" 9 45;
LOCATE UGROUP "THE_ADC_LEFT_group" REGION "THE_ADC_LEFT_region";

UGROUP "THE_ADC_PROC_cfd_0_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.0.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_0_region" "R16C2D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_0_group" REGION "THE_ADC_PROC_cfd_0_region";

UGROUP "THE_ADC_PROC_cfd_1_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.1.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_1_region" "R16C29D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_1_group" REGION "THE_ADC_PROC_cfd_1_region";

UGROUP "THE_ADC_PROC_cfd_2_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.2.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_2_region" "R16C56D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_2_group" REGION "THE_ADC_PROC_cfd_2_region";

UGROUP "THE_ADC_PROC_cfd_3_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.3.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_3_region" "R16C83D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_3_group" REGION "THE_ADC_PROC_cfd_3_region";

UGROUP "THE_ADC_PROC_cfd_4_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.4.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_4_region" "R66C2D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_4_group" REGION "THE_ADC_PROC_cfd_4_region";

UGROUP "THE_ADC_PROC_cfd_5_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.5.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_5_region" "R66C29D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_5_group" REGION "THE_ADC_PROC_cfd_5_region";

UGROUP "THE_ADC_PROC_cfd_7_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.7.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_7_region" "R66C56D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_7_group" REGION "THE_ADC_PROC_cfd_7_region";


# right are ADCs 6 and 8-11 (counted from 0)
UGROUP "THE_ADC_RIGHT_group" BLKNAME gen_reallogic.THE_ADC/THE_ADC_RIGHT;
REGION "THE_ADC_RIGHT_region" "R57C137D" 9 45;
LOCATE UGROUP "THE_ADC_RIGHT_group" REGION "THE_ADC_RIGHT_region";

UGROUP "THE_ADC_PROC_cfd_6_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.6.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_6_region" "R66C101D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_6_group" REGION "THE_ADC_PROC_cfd_6_region";

UGROUP "THE_ADC_PROC_cfd_8_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.8.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_8_region" "R66C128D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_8_group" REGION "THE_ADC_PROC_cfd_8_region";

UGROUP "THE_ADC_PROC_cfd_9_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.9.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_9_region" "R66C155D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_9_group" REGION "THE_ADC_PROC_cfd_9_region";

UGROUP "THE_ADC_PROC_cfd_10_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.10.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_10_region" "R16C128D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_10_group" REGION "THE_ADC_PROC_cfd_10_region";

UGROUP "THE_ADC_PROC_cfd_11_group" BLKNAME gen_reallogic.THE_ADC/gen_readout_cfd.gen_processors.11.THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_11_region" "R16C155D" 41 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_11_group" REGION "THE_ADC_PROC_cfd_11_region";

