BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

SYSCONFIG MCCLK_FREQ = 20;

FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;
#FREQUENCY PORT CLK_PCLK_LEFT  200 MHz;
#FREQUENCY PORT CLK_GPLL_RIGHT 200 MHz;
#FREQUENCY PORT CLK_GPLL_LEFT  125 MHz;
  
#################################################################
# Reset Nets
#################################################################  
GSR_NET NET "GSR_N";  

MULTICYCLE TO CELL "THE_RESET_HANDLER/final_reset*" 20 ns;

#################################################################
# Locate Serdes and media interfaces
#################################################################

LOCATE COMP          "THE_MEDIA_UPLINK/gen_serdes_1_200_THE_SERDES/PCSD_INST" SITE "PCSA" ;
REGION               "MEDIA_UPLINK" "R89C83D" 26 18;
LOCATE UGROUP        "THE_MEDIA_UPLINK/media_interface_group" REGION "MEDIA_UPLINK" ;

MULTICYCLE TO CELL  "THE_SPI_RELOAD_THE_SPI_MASTER_THE_SPI_SLIM_tx_sreg_oregio*" 20 ns;


#################################################################
# ADC Processor
#################################################################  

# UGROUP "Proc_0" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_0_THE_ADC_PROC;
# UGROUP "Proc_1" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_1_THE_ADC_PROC;
# UGROUP "Proc_2" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_2_THE_ADC_PROC;
# UGROUP "Proc_3" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_3_THE_ADC_PROC;
# UGROUP "Proc_4" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_4_THE_ADC_PROC;
# UGROUP "Proc_5" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_5_THE_ADC_PROC;
# UGROUP "Proc_6" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_6_THE_ADC_PROC;
# UGROUP "Proc_7" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_7_THE_ADC_PROC;
# UGROUP "Proc_8" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_8_THE_ADC_PROC;
# UGROUP "Proc_9" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_9_THE_ADC_PROC;
# UGROUP "Proc_10" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_10_THE_ADC_PROC;
# UGROUP "Proc_11" BBOX 60 60 
#   BLKNAME gen_reallogic_THE_ADC/gen_processors_11_THE_ADC_PROC;

INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_1;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_2;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_3;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_4;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_5;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_6;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_7;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_8;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_9;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_10;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_11;
INPUT_SETUP ALLPORTS 1.5 ns HOLD 1.5 ns CLKPORT ADC_DCO_12;

#################################################################
# Clocks
#################################################################  
#USE PRIMARY NET "CLK_GPLL_RIGHT_c";
#USE PRIMARY NET "CLK_PCLK_LEFT_c";

USE PRIMARY NET "CLK_PCLK_RIGHT_c";

#USE PRIMARY2EDGE NET "THE_ADC/clk_adcfast_i_0";
#USE PRIMARY2EDGE NET "THE_ADC/clk_adcfast_i_1";

#MULTICYCLE FROM CLKNET "clk_100_i_c" TO CLKNET "gen_reallogic_THE_ADC/adc_clk_right_c" 2 X;
#MULTICYCLE FROM CLKNET "gen_reallogic_THE_ADC/adc_clk_right_c" TO CLKNET "clk_100_i_c" 2 X;
#MULTICYCLE FROM CLKNET "clk_100_i_c" TO CLKNET "P_CLOCK_c" 2 X;
#MULTICYCLE FROM CLKNET "P_CLOCK_c" TO CLKNET "clk_100_i_c" 2 X;
#MULTICYCLE FROM CLKNET "gen_reallogic_THE_ADC/THE_ADC_LEFT/clk_data_c" TO CLKNET "P_CLOCK_c" 2 X;
#MULTICYCLE FROM CLKNET "gen_reallogic_THE_ADC/THE_ADC_RIGHT/clk_data" TO CLKNET "gen_reallogic_THE_ADC/adc_clk_right_c" 2 X;

MULTICYCLE FROM CELL "gen_reallogic*THE_ADC/gen_readout_cfd*gen_processors*THE_ADC_PROC/CONF_sys*" TO CELL "gen_reallogic*THE_ADC/gen_readout_cfd*gen_processors*THE_ADC_PROC/CONF_adc*" 4 X;
MULTICYCLE FROM CELL "gen_reallogic*THE_ADC/gen_readout_cfd*gen_processors*THE_ADC_PROC/busy_in_sys*" TO CELL "gen_reallogic*THE_ADC/gen_readout_cfd*gen_processors*THE_ADC_PROC/busy_in_adc*" 2 X;
MULTICYCLE FROM CELL "gen_reallogic*THE_ADC/THE_ADC_*/state_q_*" TO CELL "gen_reallogic*THE_ADC/THE_ADC_*/state_qq_*" 2 X;

# left are ADCs 0-5 and 7 (counted from 0)
UGROUP "THE_ADC_LEFT_group" BLKNAME gen_reallogic_THE_ADC/THE_ADC_LEFT;
REGION "THE_ADC_LEFT_region" "R57C2D" 9 55;
LOCATE UGROUP "THE_ADC_LEFT_group" REGION "THE_ADC_LEFT_region";

UGROUP "THE_ADC_PROC_cfd_0_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_0_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_0_region" "R7C2D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_0_group" REGION "THE_ADC_PROC_cfd_0_region";

UGROUP "THE_ADC_PROC_cfd_1_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_1_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_1_region" "R7C29D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_1_group" REGION "THE_ADC_PROC_cfd_1_region";

UGROUP "THE_ADC_PROC_cfd_2_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_2_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_2_region" "R7C56D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_2_group" REGION "THE_ADC_PROC_cfd_2_region";

UGROUP "THE_ADC_PROC_cfd_3_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_3_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_3_region" "R7C83D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_3_group" REGION "THE_ADC_PROC_cfd_3_region";

UGROUP "THE_ADC_PROC_cfd_4_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_4_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_4_region" "R66C2D" 39 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_4_group" REGION "THE_ADC_PROC_cfd_4_region";

UGROUP "THE_ADC_PROC_cfd_5_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_5_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_5_region" "R66C29D" 39 26;
LOCATE UGROUP "THE_ADC_PROC_cfd_5_group" REGION "THE_ADC_PROC_cfd_5_region";

UGROUP "THE_ADC_PROC_cfd_7_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_7_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_7_region" "R66C56D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_7_group" REGION "THE_ADC_PROC_cfd_7_region";

# right are ADCs 6 and 8-11 (counted from 0)
UGROUP "THE_ADC_RIGHT_group" BLKNAME gen_reallogic_THE_ADC/THE_ADC_RIGHT;
REGION "THE_ADC_RIGHT_region" "R57C137D" 9 45;
LOCATE UGROUP "THE_ADC_RIGHT_group" REGION "THE_ADC_RIGHT_region";

UGROUP "THE_ADC_PROC_cfd_6_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_6_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_6_region" "R66C101D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_6_group" REGION "THE_ADC_PROC_cfd_6_region";

UGROUP "THE_ADC_PROC_cfd_8_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_8_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_8_region" "R66C128D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_8_group" REGION "THE_ADC_PROC_cfd_8_region";

UGROUP "THE_ADC_PROC_cfd_9_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_9_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_9_region" "R66C155D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_9_group" REGION "THE_ADC_PROC_cfd_9_region";

UGROUP "THE_ADC_PROC_cfd_10_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_10_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_10_region" "R7C128D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_10_group" REGION "THE_ADC_PROC_cfd_10_region";

UGROUP "THE_ADC_PROC_cfd_11_group" BLKNAME gen_reallogic_THE_ADC/gen_readout_cfd_gen_processors_11_THE_ADC_PROC;
REGION "THE_ADC_PROC_cfd_11_region" "R7C155D" 49 27;
LOCATE UGROUP "THE_ADC_PROC_cfd_11_group" REGION "THE_ADC_PROC_cfd_11_region";


# TDC stuff, adapted from the original 64ch version
# used Floorplanner to ensure overlap-free placement 
# with ADC entities
# the GEN_TDC prefix will be added by compile_constraints.pl

UGROUP "EF_LT2" BBOX 10 51
       BLKNAME THE_TDC/ReferenceChannel/Channel200
       BLKNAME THE_TDC/ReferenceChannel/Buffer_128_The_Buffer
       BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200
       BLKNAME THE_TDC/GEN_Channels_1_Channels/Buffer_128_The_Buffer
       ;
LOCATE UGROUP "EF_LT2" SITE "R105C2D" ;

UGROUP "Ref_Ch" BBOX 1 51 
       BLKNAME THE_TDC/ReferenceChannel/Channel200/SimAdderNo_FC;
LOCATE UGROUP "Ref_Ch" SITE "R111C2D" ;
UGROUP "hitBuf_ref" BBOX 1 1
       BLKNAME THE_TDC/hit_mux_ref;
LOCATE UGROUP "hitBuf_ref" SITE "R112C4D" ;
UGROUP "Ref_ff_en"  BBOX 1 1
       BLKNAME THE_TDC/ReferenceChannel/Channel200/ff_array_en_1_i;
LOCATE UGROUP "Ref_ff_en" SITE "R111C27D" ;
#
UGROUP "FC_1" BBOX 1 51 
       BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_1" SITE "R113C2D" ;
UGROUP "hitBuf_1" BBOX 1 1
       BLKNAME THE_TDC/GEN_hit_mux_1_hit_mux_ch;
LOCATE UGROUP "hitBuf_1" SITE "R114C4D" ;
UGROUP "ff_en_1" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200/ff_array_en_1_i;
LOCATE UGROUP "ff_en_1" SITE "R113C27D" ;


#############################################################################
##                         Unimportant Data Lines                          ##
#############################################################################
MULTICYCLE FROM CELL "THE_TDC/reset_tdc*" TO CLKNET CLK_PCLK_LEFT_c 2x;
MULTICYCLE FROM CELL "THE_TDC/reset_counters*" 4 X;

MULTICYCLE FROM CELL "THE_TDC/ReferenceChannel/Channel200/RingBuffer*FIFO/FF*" TO CELL "THE_TDC/ReferenceChannel/Channel200/ringBuffer_almost_full_sync*" 2x;
MULTICYCLE FROM CELL "THE_TDC/GEN_Channels*Channels/Channel200/RingBuffer*FIFO/FF*" TO CELL "THE_TDC/GEN_Channels*Channels/Channel200/ringBuffer_almost_full_sync*" 2x;

MULTICYCLE FROM CELL "THE_TDC/TheEpochCounter/counter*" TO CELL "THE_TDC/ReferenceChannel/Channel200/epoch_cntr[*]" 4 X;
MULTICYCLE FROM CELL "THE_TDC/TheEpochCounter/counter*" TO CELL "THE_TDC/GEN_Channels*Channels/Channel200/epoch_cntr[*]" 4 X;

MULTICYCLE TO CELL "THE_TDC/TheReadout/TW_pre*" 4 X;
MULTICYCLE TO CELL "THE_TDC/TheReadout/TW_post*" 4 X;

MULTICYCLE FROM CELL "THE_TDC/hit_edge[*]" TO CELL "THE_TDC/GEN_Channels_*_Channels/Channel200/memory[*]" 2 X ;

MULTICYCLE TO CELL "THE_TDC/TheChannelDebugBus/data_out_reg[*]" 4 X;

#MULTICYCLE FROM CLKNET "clk_100_i" TO CLKNET "CLK_OSC_c" 4 X ;


BLOCK NET "THE_TDC/pulse[*]";
BLOCK NET "THE_TDC/hit_in_s*";

MAXDELAY NET "THE_TDC/hit_in_i*" 0.600000 nS; #DATAPATH_ONLY ;






# MULTICYCLE FROM CELL "PROC_TDC_CTRL_REG*tdc_ctrl_reg*" 4x;
# MULTICYCLE TO CELL "THE_TDC/GEN_Channels*Channels/Channel200/SimAdderNo*FC/FF*" 4x;
# MULTICYCLE TO CELL "THE_TDC/ReferenceChannel/Channel200/SimAdderNo*FC/FF*" 4x;

## Maybe effective

# MULTICYCLE FROM CELL "THE_TDC/GEN_Channels*Channels/The_Buffer/*" TO CELL "THE_TDC/TheReadout/rd_en*" 2 X;



PROHIBIT SECONDARY NET "THE_TDC/ReferenceChannel/Channel200/ff_array_en";
PROHIBIT SECONDARY NET "THE_TDC/GEN_Channels_1_Channels/Channel200/ff_array_en";
