*~
*.tcl
*.log
*.rpt
netlists
version.vhd
*.jhd
*.naf
*.sort
*.srp
*.sym
*tmpl.vhd
*.log
workdir
workdir_*
*.bit
*.kate-swp*
*.kate-swap*
.run_manager.ini
reportview.xml
.kateproject.d
cts/project*
cbmnet/project*
cbmnet/sim*
padiwa/project*
ADC/test*
*/project/
*/project2/
modelsim.ini
*.mti
*.bak
work
*.wlf
*stacktrace.txt
*edn
licbug.txt
**/*workdir
**/diamond
