#######################################################################

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

# nXyter FEB Clock Setup:
#
# CLK_PCLK_RIGHT : real Oszillator 200MHz
# CLK_PCLK_RIGHT --> PLL#0 --> clk_100_i     -----> Main Clock all entities
#
# CLK_PCLK_RIGHT         --> clk_scaler 
#                            (400 MHz)       -----> Scaler Smapling Clock

#

# Speed for the configuration Flash access
SYSCONFIG MCCLK_FREQ = 20;

FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;

USE PRIMARY   NET "CLK_PCLK_RIGHT_c";
USE PRIMARY   NET "clk_100_i";
                     
#################################################################
# Reset Nets
#################################################################  

# GSR_NET NET "GSR_N";  

#################################################################
# Locate Serdes and media interfaces
#################################################################

LOCATE COMP          "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/PCSD_INST" SITE "PCSA" ;
REGION               "MEDIA_UPLINK" "R102C95D" 13 25;
LOCATE UGROUP        "THE_MEDIA_UPLINK/media_interface_group" REGION "MEDIA_UPLINK" ;

#################################################################
# Relax some of the timing constraints
#################################################################

#SPI Interface
REGION "REGION_SPI" "R9C108D" 20 20 DEVSIZE;
LOCATE UGROUP "THE_SPI_MEMORY/SPI_group" REGION "REGION_SPI" ;

#################################################
# Muelleimer:
# #LOCATE COMP "pll_adc_clk_1/PLLInst_0" SITE "PLL_R43C5" ;
#
#################################################

BLOCK PATH FROM CLKNET "clk_100_i" TO CLKNET "clk_scaler";
BLOCK PATH FROM CLKNET "clk_scaler" TO CLKNET "clk_100_i";

PROHIBIT PRIMARY   NET "quad_channel_0*";
PROHIBIT SECONDARY NET "quad_channel_0*";

#MULTICYCLE FROM CELL   "THE_RESET_HANDLER/final_reset*"                                                  100 ns;

#MULTICYCLE TO   CELL   "scaler_0/reset_d1_ff*[1]*"                                                       100 ns;

#MULTICYCLE TO   CELL   "scaler_0/scaler_channel_0/pulse_ff*[2]*"                                           30 ns;

#MULTICYCLE TO   CELL   "scaler_0/latch_handler_1/reset_ctr_ff*[2]*"                                        30 ns;
#MULTICYCLE TO   CELL   "scaler_0/latch_handler_1/latch_ff*[2]*"                                            30 ns;

MULTICYCLE TO   GROUP  "TEST_LINE_group"          500.000000 ns ;
MAXDELAY   TO   GROUP  "TEST_LINE_group"          500.000000 ns ;


#################################################################
# Constraints for nxyter inputs
#################################################################

# look at .par and .twr.setup file for clocks 
# IN .mrp  you find the semantic errors
