BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

  SYSCONFIG MCCLK_FREQ = 20;

  FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;
  FREQUENCY PORT CLK_PCLK_LEFT  200 MHz;
  FREQUENCY PORT CLK_GPLL_RIGHT 125 MHz;
  FREQUENCY PORT CLK_GPLL_LEFT  200 MHz;
  FREQUENCY PORT CLK_EXT_3      10  MHz;
  FREQUENCY PORT CLK_EXT_4      10  MHz;
  
#################################################################
# Reset Nets
#################################################################  
GSR_NET NET "GSR_N";  


#################################################################
# Locate Serdes and media interfaces
#################################################################
LOCATE COMP   "THE_MEDIA_UPLINK/gen_serdes_0_200_THE_SERDES/PCSD_INST" SITE "PCSA" ;
LOCATE COMP   "THE_MEDIA_ONBOARD/THE_SERDES/PCSD_INST" SITE "PCSC" ;


REGION "MEDIA_UPLINK" "R98C95" 17 27;
LOCATE UGROUP "THE_MEDIA_UPLINK/media_interface_group" REGION "MEDIA_UPLINK" ;

REGION "MEDIA_ONBOARD" "R90C122" 25 40;
LOCATE UGROUP "THE_MEDIA_ONBOARD/media_interface_group" REGION "MEDIA_ONBOARD" ;
