#################################################################
# TDC Constraints
#################################################################
##############################################################################
##		        REFERENCE CHANNEL PLACEMENT                         ##
##############################################################################
UGROUP "Ref_Ch" BBOX 1 51 
	BLKNAME THE_TDC/ReferenceChannel/Channel200/SimAdderNo_FC;
LOCATE UGROUP "Ref_Ch" SITE "R8C131D" ;
UGROUP "hitBuf_ref" BBOX 1 1
        BLKNAME THE_TDC/ReferenceChannel/sync_q_0[2]
	BLKNAME THE_TDC/hit_mux_ref;
LOCATE UGROUP "hitBuf_ref" SITE "R9C133D" ;
UGROUP "Ref_ff_en"  BBOX 1 1
	BLKNAME THE_TDC/ReferenceChannel/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "Ref_ff_en" SITE "R8C156D" ;

##############################################################################
##	            DELAY LINE and HIT BUFFER PLACEMENTS                    ##
##############################################################################
UGROUP "FC_1" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_1" SITE "R10C131D" ;
UGROUP "hitBuf_1" BBOX 1 1
        BLKNAME THE_TDC/GEN_Channels_1_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_1_hit_mux_ch;
LOCATE UGROUP "hitBuf_1" SITE "R11C133D" ;
UGROUP "ff_en_1"  BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_1" SITE "R10C156D" ;
#
UGROUP "FC_2" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_2_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_2" SITE "R21C131D" ;
UGROUP "hitBuf_2"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_2_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_2_hit_mux_ch;
LOCATE UGROUP "hitBuf_2" SITE "R22C133D" ;
UGROUP "ff_en_2" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_2_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_2" SITE "R21C156D" ;
#
UGROUP "FC_3" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_3_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_3" SITE "R23C131D" ;
UGROUP "hitBuf_3"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_3_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_3_hit_mux_ch;
LOCATE UGROUP "hitBuf_3" SITE "R24C133D" ;
UGROUP "ff_en_3" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_3_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_3" SITE "R23C156D" ;
#
UGROUP "FC_4" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_4_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_4" SITE "R30C131D" ;
UGROUP "hitBuf_4"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_4_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_4_hit_mux_ch;
LOCATE UGROUP "hitBuf_4" SITE "R31C133D" ;
UGROUP "ff_en_4" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_4_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_4" SITE "R30C156D" ;


##############################################################################
##			     CHANNEL PLACEMENTS                             ##
##############################################################################
UGROUP "EF_ref" BBOX 16 54
       	BLKNAME THE_TDC/ReferenceChannel/Channel200
	BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_2_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_3_Channels/Channel200
	BLKNAME THE_TDC/ReferenceChannel/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_1_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_2_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_3_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_ref" SITE "R8C128D" ;

UGROUP "EF_4" BBOX 10 54
       	BLKNAME THE_TDC/GEN_Channels_4_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_4_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_4" SITE "R24C128D" ;


#############################################################################
## Stretcher
#############################################################################
UGROUP "Stretcher_A" BBOX 7 7
        BLKNAME THE_TDC/gen_double_withStretcher.The_Stretcher/Stretcher_A_1
;
LOCATE UGROUP "Stretcher_A" SITE "R117C175D";

UGROUP "Stretcher_B" BBOX 6 8
        BLKNAME THE_TDC/gen_double_withStretcher.The_Stretcher/Stretcher_B_1
;
LOCATE UGROUP "Stretcher_B" SITE "R2C2D";

#############################################################################
## Coarse counter register placement
#############################################################################

#############################################################################
## Other Logic Placements
#############################################################################
