#################################################################
# TDC Constraints
#################################################################
##############################################################################
##		        REFERENCE CHANNEL PLACEMENT                         ##
##############################################################################
UGROUP "Ref_Ch" BBOX 1 51 
	BLKNAME THE_TDC/ReferenceChannel/Channel200/SimAdderNo_FC;
LOCATE UGROUP "Ref_Ch" SITE "R8C131D" ;
UGROUP "hitBuf_ref" BBOX 1 1
        BLKNAME THE_TDC/ReferenceChannel/sync_q_0[2]
	BLKNAME THE_TDC/hit_mux_ref;
LOCATE UGROUP "hitBuf_ref" SITE "R9C133D" ;
UGROUP "Ref_ff_en"  BBOX 1 1
	BLKNAME THE_TDC/ReferenceChannel/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "Ref_ff_en" SITE "R8C156D" ;

##############################################################################
##	            DELAY LINE and HIT BUFFER PLACEMENTS                    ##
##############################################################################
UGROUP "FC_1" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_1" SITE "R10C131D" ;
UGROUP "hitBuf_1" BBOX 1 1
        BLKNAME THE_TDC/GEN_Channels_1_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_1_hit_mux_ch;
LOCATE UGROUP "hitBuf_1" SITE "R11C133D" ;
UGROUP "ff_en_1"  BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_1" SITE "R10C156D" ;
#
UGROUP "FC_2" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_2_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_2" SITE "R21C131D" ;
UGROUP "hitBuf_2"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_2_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_2_hit_mux_ch;
LOCATE UGROUP "hitBuf_2" SITE "R22C133D" ;
UGROUP "ff_en_2" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_2_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_2" SITE "R21C156D" ;
#
UGROUP "FC_3" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_3_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_3" SITE "R23C131D" ;
UGROUP "hitBuf_3"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_3_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_3_hit_mux_ch;
LOCATE UGROUP "hitBuf_3" SITE "R24C133D" ;
UGROUP "ff_en_3" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_3_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_3" SITE "R23C156D" ;
#
UGROUP "FC_4" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_4_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_4" SITE "R30C131D" ;
UGROUP "hitBuf_4"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_4_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_4_hit_mux_ch;
LOCATE UGROUP "hitBuf_4" SITE "R31C133D" ;
UGROUP "ff_en_4" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_4_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_4" SITE "R30C156D" ;
#
UGROUP "FC_5" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_5_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_5" SITE "R32C131D" ;
UGROUP "hitBuf_5"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_5_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_5_hit_mux_ch;
LOCATE UGROUP "hitBuf_5" SITE "R33C133D" ;
UGROUP "ff_en_5" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_5_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_5" SITE "R32C156D" ;
#
UGROUP "FC_6" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_6_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_6" SITE "R35C131D" ;
UGROUP "hitBuf_6"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_6_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_6_hit_mux_ch;
LOCATE UGROUP "hitBuf_6" SITE "R36C133D" ;
UGROUP "ff_en_6" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_6_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_6" SITE "R35C156D" ;
#
UGROUP "FC_7" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_7_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_7" SITE "R37C131D" ;
UGROUP "hitBuf_7"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_7_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_7_hit_mux_ch;
LOCATE UGROUP "hitBuf_7" SITE "R38C133D" ;
UGROUP "ff_en_7" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_7_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_7" SITE "R37C156D" ;
#
UGROUP "FC_8" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_8_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_8" SITE "R48C131D" ;
UGROUP "hitBuf_8"  BBOX 1 1
       	BLKNAME THE_TDC/GEN_Channels_8_Channels/sync_q_0[2]
	BLKNAME THE_TDC/GEN_hit_mux_8_hit_mux_ch;
LOCATE UGROUP "hitBuf_8" SITE "R49C133D" ;
UGROUP "ff_en_8" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_8_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_8" SITE "R48C156D" ;
#
UGROUP "FC_9" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_9_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_9" SITE "R50C131D" ;
UGROUP "hitBuf_9"  BBOX 1 1
	BLKNAME THE_TDC/GEN_hit_mux_9_hit_mux_ch/hit_i_5_u_0;
LOCATE UGROUP "hitBuf_9" SITE "R51C133D" ;
UGROUP "ff_en_9" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_9_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_9" SITE "R50C156D" ;
#
UGROUP "FC_10" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_10_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_10" SITE "R53C131D" ;
UGROUP "hitBuf_10"  BBOX 1 1
	BLKNAME THE_TDC/GEN_hit_mux_10_hit_mux_ch/hit_i_5_u_0;
LOCATE UGROUP "hitBuf_10" SITE "R54C133D" ;
UGROUP "ff_en_10" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_10_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_10" SITE "R53C156D" ;
#
UGROUP "FC_11" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_11_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_11" SITE "R55C131D" ;
UGROUP "hitBuf_11" BBOX 1 1
	BLKNAME THE_TDC/GEN_hit_mux_11_hit_mux_ch/hit_i_5_u_0;
LOCATE UGROUP "hitBuf_11" SITE "R56C133D" ;
UGROUP "ff_en_11" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_11_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_11" SITE "R55C156D" ;
#
UGROUP "FC_12" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_12_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_12" SITE "R10C58D" ;
UGROUP "hitBuf_12" BBOX 1 1
       BLKNAME THE_TDC/GEN_hit_mux_12_hit_mux_ch/hit_i_5_u_0;
LOCATE UGROUP "hitBuf_12" SITE "R11C60D" ;
UGROUP "ff_en_12" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_12_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_12" SITE "R10C83D" ;
#
UGROUP "FC_13" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_13_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_13" SITE "R23C58D" ;
UGROUP "hitBuf_13" BBOX 1 1
	BLKNAME THE_TDC/GEN_hit_mux_13_hit_mux_ch/hit_i_5_u_0;
LOCATE UGROUP "hitBuf_13" SITE "R24C60D" ;
UGROUP "ff_en_13" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_13_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_13" SITE "R23C83D" ;
#
UGROUP "FC_14" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_14_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_14" SITE "R32C58D" ;
UGROUP "hitBuf_14" BBOX 1 1
	BLKNAME THE_TDC/GEN_hit_mux_14_hit_mux_ch/hit_i_5_u_0;
LOCATE UGROUP "hitBuf_14" SITE "R33C60D" ;
UGROUP "ff_en_14" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_14_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_14" SITE "R32C83D" ;
#
UGROUP "FC_15" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_15_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_15" SITE "R37C58D" ;
UGROUP "hitBuf_15" BBOX 1 1
	BLKNAME THE_TDC/GEN_hit_mux_15_hit_mux_ch/hit_i_5_u_0;
LOCATE UGROUP "hitBuf_15" SITE "R38C60D" ;
UGROUP "ff_en_15" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_15_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_15" SITE "R37C83D" ;
#
UGROUP "FC_16" BBOX 1 51 
	BLKNAME THE_TDC/GEN_Channels_16_Channels/Channel200/SimAdderNo_FC;
LOCATE UGROUP "FC_16" SITE "R50C58D" ;
UGROUP "hitBuf_16" BBOX 1 1
	BLKNAME THE_TDC/GEN_hit_mux_16_hit_mux_ch/hit_i_5_u_0;
LOCATE UGROUP "hitBuf_16" SITE "R51C60D" ;
UGROUP "ff_en_16" BBOX 1 1
       BLKNAME THE_TDC/GEN_Channels_16_Channels/Channel200/ff_array_en_i_1_i;
LOCATE UGROUP "ff_en_16" SITE "R50C83D" ;


##############################################################################
##			     CHANNEL PLACEMENTS                             ##
##############################################################################
UGROUP "EF_ref" BBOX 16 54
       	BLKNAME THE_TDC/ReferenceChannel/Channel200
	BLKNAME THE_TDC/GEN_Channels_1_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_2_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_3_Channels/Channel200
	BLKNAME THE_TDC/ReferenceChannel/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_1_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_2_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_3_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_ref" SITE "R8C128D" ;

UGROUP "EF_4" BBOX 10 54
       	BLKNAME THE_TDC/GEN_Channels_4_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_5_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_4_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_5_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_4" SITE "R24C128D" ;

UGROUP "EF_6" BBOX 17 54
	BLKNAME THE_TDC/GEN_Channels_6_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_7_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_8_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_9_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_6_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_7_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_8_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_9_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_6" SITE "R35C128D" ;

UGROUP "EF_10" BBOX 17 54
	BLKNAME THE_TDC/GEN_Channels_10_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_11_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_10_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_11_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_10" SITE "R53C128D" ;

UGROUP "EF_12" BBOX 16 54
	BLKNAME THE_TDC/GEN_Channels_12_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_13_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_12_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_13_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_12" SITE "R8C56D" ;

UGROUP "EF_14" BBOX 10 54
	BLKNAME THE_TDC/GEN_Channels_14_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_14_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_14" SITE "R24C56D" ;

UGROUP "EF_15" BBOX 17 54
	BLKNAME THE_TDC/GEN_Channels_15_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_16_Channels/Channel200
	BLKNAME THE_TDC/GEN_Channels_15_Channels/Buffer_64_The_Buffer
	BLKNAME THE_TDC/GEN_Channels_16_Channels/Buffer_64_The_Buffer;
LOCATE UGROUP "EF_15" SITE "R35C56D" ;

#############################################################################
## Stretcher
#############################################################################
UGROUP "Stretcher_A" BBOX 7 7
        BLKNAME THE_TDC/gen_double_withStretcher.The_Stretcher/Stretcher_A_1
;
LOCATE UGROUP "Stretcher_A" SITE "R117C175D";

UGROUP "Stretcher_B" BBOX 6 8
        BLKNAME THE_TDC/gen_double_withStretcher.The_Stretcher/Stretcher_B_1
;
LOCATE UGROUP "Stretcher_B" SITE "R2C2D";

#############################################################################
## Coarse counter register placement
#############################################################################

#############################################################################
## Other Logic Placements
#############################################################################
