# BLOCK RESETPATHS ;
# BLOCK ASYNCPATHS ;
# BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

  SYSCONFIG MCCLK_FREQ = 20;

#  FREQUENCY NET "THE_CBM_PHY/CLK_TX_FULL_I" 250 MHz;
  
#Change the next two lines to the clk_fast signal of the ADC  
#  USE PRIMARY2EDGE NET "THE_MAIN_PLL/PLLInst_0";
#  USE PRIMARY NET "THE_MAIN_PLL/PLLInst_0";

# USE PRIMARY NET "CLK_GPLL_LEFT";
#  USE PRIMARY NET "THE_CBM_PHY/RCLK_250_I";
#  USE SECONDARY NET "THE_CBM_PHY/CLK_TX_FULL_I";
  
#################################################################
# Reset Nets
#################################################################  
GSR_NET NET "GSR_N";  




LOCATE COMP "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/PCSD_INST" SITE "PCSA" ;
REGION "MEDIA_UPLINK" "R102C95D" 13 25 DEVSIZE;
LOCATE UGROUP "THE_MEDIA_UPLINK/media_interface_group" REGION "MEDIA_UPLINK" ;
LOCATE COMP   "THE_CBM_PHY/THE_SERDES/PCSD_INST" SITE "PCSB" ;
#LOCATE COMP "THE_CBM_PHY/GEN_EASY_SERDES/THE_EASY_SERDES/PCSD_INST" SITE "PCSB" 

REGION "CBM_PHY" "R102C49D" 13 25;
LOCATE UGROUP "THE_CBM_PHY/cbmnet_phy_group" REGION "CBM_PHY";

REGION "CBM_PHY_RX_GEAR" "R102C50D" 13 15 DEVSIZE;
LOCATE UGROUP "THE_CBM_PHY/THE_RX_GEAR/cbmnet_phy_rx_gear" REGION "CBM_PHY_RX_GEAR" ;

REGION "CBM_PHY_TX_GEAR" "R102C50D" 13 15 DEVSIZE;
LOCATE UGROUP "THE_CBM_PHY/THE_TX_GEAR/cbmnet_phy_tx_gear" REGION "CBM_PHY_TX_GEAR" ;

#################################################################
# Relax some of the timing constraints
#################################################################

DEFINE BUS "rx_data" NET "THE_CBM_PHY/rx_data_from_serdes_i[0]"  NET "THE_CBM_PHY/rx_data_from_serdes_i[1]"  NET "THE_CBM_PHY/rx_data_from_serdes_i[2]"  NET "THE_CBM_PHY/rx_data_from_serdes_i[3]"  NET "THE_CBM_PHY/rx_data_from_serdes_i[4]"  NET "THE_CBM_PHY/rx_data_from_serdes_i[5]"  NET "THE_CBM_PHY/rx_data_from_serdes_i[6]"  NET "THE_CBM_PHY/rx_data_from_serdes_i[7]"  NET "THE_CBM_PHY/rx_data_from_serdes_i[8]";
DEFINE BUS "tx_data" NET "THE_CBM_PHY/tx_data_to_serdes_i[0]"  NET "THE_CBM_PHY/tx_data_to_serdes_i[1]"  NET "THE_CBM_PHY/tx_data_to_serdes_i[2]"  NET "THE_CBM_PHY/tx_data_to_serdes_i[3]"  NET "THE_CBM_PHY/tx_data_to_serdes_i[4]"  NET "THE_CBM_PHY/tx_data_to_serdes_i[5]"  NET "THE_CBM_PHY/tx_data_to_serdes_i[6]"  NET "THE_CBM_PHY/tx_data_to_serdes_i[7]"  NET "THE_CBM_PHY/tx_data_to_serdes_i[8]";

PRIORITIZE BUS "rx_data" 51;
PRIORITIZE BUS "tx_data" 50;

FREQUENCY PORT "CLK_GPLL_LEFT" 125.0 MHz;
FREQUENCY NET "THE_MAIN_PLL/clk_200_i" 200.0 MHz;
FREQUENCY NET "THE_MAIN_PLL/clk_100_i_c" 100.0 MHz;
FREQUENCY NET "THE_CBM_PHY/THE_SERDES/CLK_RX_FULL_OUT" 250.0 MHz;
FREQUENCY NET "THE_CBM_PHY/THE_SERDES/clk_tx_full_i" 250.0 MHz;
FREQUENCY NET "THE_CBM_PHY/THE_RX_GEAR/CLK_RX_HALF_OUT_c" 125.0 MHz;
FREQUENCY NET "THE_MEDIA_UPLINK/gen_serdes_1_200.THE_SERDES/un1_THE_MEDIA_UPLINK_c" 100.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 


BLOCK PATH TO CELL "phy_debug_i_buf[0]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[1]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[2]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[3]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[4]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[5]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[6]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[7]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[8]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[9]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[10]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[11]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[12]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[13]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[14]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[15]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[16]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[17]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[20]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[21]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[22]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[24]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[25]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[26]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[27]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[28]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[29]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[30]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[31]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[32]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[33]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[34]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[35]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[36]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[37]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[38]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[39]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[40]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[41]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[42]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[43]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[44]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[45]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[46]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[47]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[48]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[49]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[52]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[53]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[54]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[56]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[57]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[58]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[61]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[63]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[64]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[65]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[68]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[69]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[70]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[96]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[97]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[98]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[99]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[100]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[101]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[102]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[103]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[104]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[105]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[106]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[107]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[108]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[109]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[110]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[111]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[112]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[113]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[114]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[115]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[116]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[117]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[118]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[119]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[120]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[121]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[122]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[123]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[124]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[125]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[126]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[127]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[128]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[129]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[130]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[131]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[132]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[133]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[134]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[135]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[136]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[137]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[138]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[139]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[148]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[149]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[150]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[151]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[152]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[153]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[154]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[155]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[156]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[157]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[158]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[159]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[160]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[161]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[162]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[163]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[164]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[165]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[166]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[167]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[168]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[169]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[170]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[171]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[172]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[173]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[174]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[175]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[176]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[177]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[178]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[179]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[180]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[181]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[182]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[183]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[184]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[185]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[186]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[187]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[188]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[189]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[190]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[191]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[192]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[193]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[194]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[195]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[196]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[197]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[198]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[199]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[200]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[201]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[202]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[203]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[204]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[205]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[206]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[207]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[208]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[209]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[210]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[211]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[244]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[245]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[246]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[247]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[248]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[249]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[250]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[251]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[252]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[253]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[254]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[255]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[256]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[257]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[258]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[259]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[260]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[261]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[262]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[263]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[264]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[265]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[266]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[267]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[268]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[269]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[270]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[271]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[272]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[273]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[274]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[275]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[276]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[277]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[278]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[279]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[280]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[281]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[282]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[283]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[284]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[285]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[286]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[287]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[288]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[289]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[290]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[291]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[292]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[293]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[294]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[295]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[296]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[297]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[298]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[299]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[300]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[301]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[302]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[303]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[304]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[305]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[306]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[307]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[308]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[309]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[310]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[311]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[312]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[313]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[314]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[315]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[316]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[317]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[318]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[319]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[320]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[321]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[322]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[323]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[324]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[325]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[326]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[327]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[328]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[329]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[330]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[331]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[332]" ;
BLOCK PATH TO CELL "phy_debug_i_buf[333]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[0]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[1]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[2]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[3]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[4]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[5]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[6]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[7]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[8]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[9]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[10]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[11]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[12]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[13]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[14]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[15]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[16]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[17]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[18]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[19]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[20]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[21]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[22]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[23]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[24]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[25]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[26]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[27]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[28]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[29]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[30]" ;
BLOCK PATH TO CELL "PROC_REGIO_DEBUG.debug_data_out[31]" ;
