# BLOCK RESETPATHS ;
# BLOCK ASYNCPATHS ;
# BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

  SYSCONFIG MCCLK_FREQ = 20;

#  FREQUENCY NET "THE_CBM_PHY/CLK_TX_FULL_I" 250 MHz;
  FREQUENCY NET "THE_CBM_PHY/RCLK_250_I" 250 MHz;
  
#Change the next two lines to the clk_fast signal of the ADC  
#  USE PRIMARY2EDGE NET "THE_MAIN_PLL/PLLInst_0";
#  USE PRIMARY NET "THE_MAIN_PLL/PLLInst_0";

USE PRIMARY NET "CLK_GPLL_LEFT";
#  USE PRIMARY NET "THE_CBM_PHY/RCLK_250_I";
#  USE SECONDARY NET "THE_CBM_PHY/CLK_TX_FULL_I";
  
#################################################################
# Reset Nets
#################################################################  
GSR_NET NET "GSR_N";  


################################################################
# Locate Serdes and media interfaces
#################################################################
LOCATE COMP   "THE_MEDIA_UPLINK/gen_serdes_1_200_THE_SERDES/PCSD_INST" SITE "PCSA" ;
REGION "MEDIA_UPLINK" "R102C95D" 13 25;
LOCATE UGROUP "THE_MEDIA_UPLINK/media_interface_group" REGION "MEDIA_UPLINK" ;

LOCATE COMP   "THE_CBM_PHY/THE_SERDES/PCSD_INST" SITE "PCSB" ;
REGION "CBM_PHY" "R102C49D" 13 25;
LOCATE UGROUP "THE_CBM_PHY/cbmnet_phy_group" REGION "CBM_PHY";

REGION "CBM_PHY_RX_GEAR" "R102C50D" 13 15;
LOCATE UGROUP "THE_CBM_PHY/THE_RX_GEAR/cbmnet_phy_rx_gear" REGION "CBM_PHY_RX_GEAR";

REGION "CBM_PHY_TX_GEAR" "R102C50D" 13 15;
LOCATE UGROUP "THE_CBM_PHY/THE_TX_GEAR/cbmnet_phy_tx_gear" REGION "CBM_PHY_TX_GEAR";



#################################################################
# Relax some of the timing constraints
#################################################################
MULTICYCLE TO CELL "THE_MEDIA_DOWNLINK/SCI_DATA_OUT*" 50 ns;
MULTICYCLE TO CELL "THE_MEDIA_UPLINK/SCI_DATA_OUT*" 50 ns;

FREQUENCY NET "rclk_125_i" 125.000000 MHz ;
FREQUENCY NET "phy_stat_op[11]" 250.000000 MHz ;
FREQUENCY PORT "CLK_GPLL_LEFT" 200.000000 MHz ;
FREQUENCY NET "clk_200_i" 200.000000 MHz ;
FREQUENCY NET "clk_100_i_c" 100.000000 MHz ;
FREQUENCY NET "CLK_RX_FULL_OUT" 250.000000 MHz ;

MULTICYCLE FROM CLKNET "CLK_RX_FULL_OUT" TO CLKNET "rclk_125_i" 2.000000 X_DEST ;