COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

SYSCONFIG MCCLK_FREQ = 20;

FREQUENCY PORT CLK_CORE_PCLK         240 MHz;
FREQUENCY PORT CLK_CORE_PLL_LEFT     240 MHz;
FREQUENCY PORT CLK_CORE_PLL_RIGHT    240 MHz;

FREQUENCY PORT CLK_SUPPL_PCLK         125 MHz;
FREQUENCY PORT CLK_SUPPL_PLL_LEFT     125 MHz;
FREQUENCY PORT CLK_SUPPL_PLL_RIGHT    125 MHz;

FREQUENCY PORT CLK_EXT_PCLK         200 MHz;
FREQUENCY PORT CLK_EXT_PLL_LEFT     200 MHz;
FREQUENCY PORT CLK_EXT_PLL_RIGHT    200 MHz;


MULTICYCLE TO CELL   "THE_MEDIA_INT*/sci*" 20 ns;
MULTICYCLE FROM CELL "THE_MEDIA_INT*/sci*" 20 ns;
MULTICYCLE TO CELL   "THE_MEDIA_INT*/PROC_SCI_CTRL.wa*" 20 ns;
BLOCK PATH TO   CLKNET "THE_MEDIA_INT*/sci_write_i";
BLOCK PATH FROM CLKNET "THE_MEDIA_INT*/sci_write_i";
BLOCK PATH TO   CLKNET "THE_MEDIA_INT*/sci_read_i";
BLOCK PATH FROM CLKNET "THE_MEDIA_INT*/sci_read_i";

FREQUENCY NET "THE_MEDIA_INT*/clk_rx_full" 200 MHz; # HOLD_MARGIN 500 ps 
FREQUENCY NET "THE_MEDIA_INT*/clk_tx_full" 200 MHz; # HOLD_MARGIN 500 ps 

BLOCK PATH TO   PORT "LED*";
BLOCK PATH TO   PORT "SFP*";
BLOCK PATH FROM PORT "SFP*";
BLOCK PATH TO   PORT "PROGRAMN";
BLOCK PATH TO   PORT "TEMPSENS";
BLOCK PATH FROM PORT "TEMPSENS";
BLOCK PATH TO   PORT "TESTLINE";

PROHIBIT PRIMARY   NET "ENPIRION_CLOCK_c" ;
PROHIBIT SECONDARY NET "ENPIRION_CLOCK_c" ;
