BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

#  SYSCONFIG MCCLK_FREQ = 2.5;

#  FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;
#  FREQUENCY PORT CLK_PCLK_LEFT  200 MHz;
#  FREQUENCY PORT CLK_GPLL_RIGHT 200 MHz;
#  FREQUENCY PORT CLK_GPLL_LEFT  200 MHz;

#################################################################
# Clock I/O
#################################################################
LOCATE COMP  "CLK_PCLK_RIGHT"       SITE "P21"; #CM1  & terminated
LOCATE COMP  "CLK_PCLK_LEFT"        SITE "N5";  #CM3
LOCATE COMP  "CLK_GPLL_RIGHT"       SITE "T21"; #CM4
LOCATE COMP  "CLK_GPLL_LEFT"        SITE "U6";  #CM6
LOCATE COMP  "CLK_EXTERNAL"         SITE "V20"; #CM9

LOCATE COMP  "CLK_IN_0"           SITE "AC17";
LOCATE COMP  "CLK_IN_2"           SITE "N23";
LOCATE COMP  "CLK_IN_5"           SITE "C14";
LOCATE COMP  "CLK_IN_7"           SITE "Y26";
LOCATE COMP  "CLK_IN_8"           SITE "V17";

IOBUF PORT  "CLK_PCLK_RIGHT" IO_TYPE=LVDS25 DIFFRESISTOR=OFF;
IOBUF PORT  "CLK_PCLK_LEFT" IO_TYPE=LVDS25 DIFFRESISTOR=100;
IOBUF PORT  "CLK_GPLL_RIGHT" IO_TYPE=LVDS25 DIFFRESISTOR=100;
IOBUF PORT  "CLK_GPLL_LEFT" IO_TYPE=LVDS25 DIFFRESISTOR=100;
IOBUF PORT  "EXTERNAL" IO_TYPE=LVDS25 DIFFRESISTOR=100;
DEFINE PORT GROUP "CLK_group" "CLK_IN*" ;
IOBUF GROUP "CLK_group" IO_TYPE=LVDS25 DIFFRESISTOR=100;

#################################################################
# Clock Manager
#################################################################
LOCATE COMP  "CLK_MNGR_USER_0"   SITE "M23";
LOCATE COMP  "CLK_MNGR_USER_1"   SITE "M24";
LOCATE COMP  "CLK_MNGR_USER_2"   SITE "L24";
LOCATE COMP  "CLK_MNGR_USER_3"   SITE "K25";
DEFINE PORT GROUP "CLK_MNGR_group" "CLK_MNGR*" ;
IOBUF GROUP "CLK_MNGR_group" IO_TYPE=LVCMOS25 PULLMODE=DOWN DRIVE=8;



#################################################################
# DAC & SPI
#################################################################

LOCATE COMP  "FLASH_CLK"  SITE "V24";
LOCATE COMP  "FLASH_CS"   SITE "T25";
LOCATE COMP  "FLASH_DIN"  SITE "T24";
LOCATE COMP  "FLASH_DOUT" SITE "V21";

DEFINE PORT GROUP "FLASH_group" "FLASH*" ;
IOBUF GROUP "FLASH_group" IO_TYPE=LVCMOS25 PULLMODE=NONE;

LOCATE COMP  "PROGRAMN"   SITE "A20";
IOBUF  PORT "PROGRAMN" IO_TYPE=LVCMOS25 PULLMODE=UP DRIVE=8  ;

LOCATE COMP  "DAC_SCK"    SITE "R1";
LOCATE COMP  "DAC_CS"     SITE "R2";
LOCATE COMP  "DAC_SDI"    SITE "P1";
LOCATE COMP  "DAC_SDO"    SITE "P2";

DEFINE PORT GROUP "DAC_group" "DAC*" ;
IOBUF GROUP "DAC_group" IO_TYPE=LVCMOS25 PULLMODE=NONE;
#IOBUF  PORT "DAC_SCK" IO_TYPE=LVCMOS25 PULLMODE=UP DRIVE=4  ;

#################################################################
# LED
#################################################################

LOCATE COMP  "LED_CLK_GREEN"    SITE "P23";
LOCATE COMP  "LED_CLK_RED"      SITE "R22";
LOCATE COMP  "LED_GREEN"        SITE "K24";
LOCATE COMP  "LED_ORANGE"       SITE "J24";
LOCATE COMP  "LED_RED"          SITE "J26";
LOCATE COMP  "LED_YELLOW"       SITE "K26";
LOCATE COMP  "LED_SFP_GREEN"    SITE "W17";
LOCATE COMP  "LED_SFP_RED"      SITE "AB23";

DEFINE PORT GROUP "LED_group" "LED*" ;
IOBUF GROUP "LED_group" IO_TYPE=LVCMOS25 PULLMODE=UP DRIVE=8;

#################################################################
# INPUT
#################################################################
LOCATE COMP  "INPUT_1"   SITE "W8";
LOCATE COMP  "INPUT_2"   SITE "Y6";
LOCATE COMP  "INPUT_3"   SITE "AA7";
LOCATE COMP  "INPUT_4"   SITE "AB3";
LOCATE COMP  "INPUT_5"   SITE "AE2";
LOCATE COMP  "INPUT_6"   SITE "AD4";
LOCATE COMP  "INPUT_7"   SITE "AD3";
LOCATE COMP  "INPUT_8"   SITE "AD1";
LOCATE COMP  "INPUT_9"   SITE "Y5";
LOCATE COMP  "INPUT_10"    SITE "AA1";
LOCATE COMP  "INPUT_11"    SITE "AC2";
LOCATE COMP  "INPUT_12"    SITE "AB1";
LOCATE COMP  "INPUT_13"    SITE "W7";
LOCATE COMP  "INPUT_14"    SITE "AA3";
LOCATE COMP  "INPUT_15"    SITE "Y1";
LOCATE COMP  "INPUT_16"    SITE "V6";
LOCATE COMP  "INPUT_17"    SITE "W1";
LOCATE COMP  "INPUT_18"    SITE "U4";
LOCATE COMP  "INPUT_19"    SITE "T1";
LOCATE COMP  "INPUT_20"    SITE "R5";
LOCATE COMP  "INPUT_21"    SITE "V1";
LOCATE COMP  "INPUT_22"    SITE "P4";
LOCATE COMP  "INPUT_23"    SITE "T7";
LOCATE COMP  "INPUT_24"    SITE "T3";
LOCATE COMP  "INPUT_25"    SITE "M1";
LOCATE COMP  "INPUT_26"    SITE "M4";
LOCATE COMP  "INPUT_27"    SITE "M5";
LOCATE COMP  "INPUT_28"    SITE "M3";
LOCATE COMP  "INPUT_29"    SITE "L2";
LOCATE COMP  "INPUT_30"    SITE "K3";
LOCATE COMP  "INPUT_31"    SITE "H1";
LOCATE COMP  "INPUT_32"    SITE "H2";
LOCATE COMP  "INPUT_33"    SITE "K2";
LOCATE COMP  "INPUT_34"    SITE "H4";
LOCATE COMP  "INPUT_35"    SITE "H5";
LOCATE COMP  "INPUT_36"    SITE "L8";
LOCATE COMP  "INPUT_37"    SITE "J4";
LOCATE COMP  "INPUT_38"    SITE "D1";
LOCATE COMP  "INPUT_39"    SITE "K4";
LOCATE COMP  "INPUT_40"    SITE "E1";
LOCATE COMP  "INPUT_41"    SITE "E3";
LOCATE COMP  "INPUT_42"    SITE "C2";
LOCATE COMP  "INPUT_43"    SITE "K8";
LOCATE COMP  "INPUT_44"    SITE "G5";
LOCATE COMP  "INPUT_45"    SITE "D4";
LOCATE COMP  "INPUT_46"    SITE "H6";
LOCATE COMP  "INPUT_47"    SITE "C3";
LOCATE COMP  "INPUT_48"    SITE "B2";
LOCATE COMP  "INPUT_49"    SITE "D6";
LOCATE COMP  "INPUT_50"    SITE "B6";
LOCATE COMP  "INPUT_51"    SITE "D5";
LOCATE COMP  "INPUT_52"    SITE "C5";
LOCATE COMP  "INPUT_53"    SITE "A3";
LOCATE COMP  "INPUT_54"    SITE "D8";
LOCATE COMP  "INPUT_55"    SITE "G7";
LOCATE COMP  "INPUT_56"    SITE "F7";
LOCATE COMP  "INPUT_57"    SITE "A5";
LOCATE COMP  "INPUT_58"    SITE "G8";
LOCATE COMP  "INPUT_59"    SITE "E8";
LOCATE COMP  "INPUT_60"    SITE "C9";
LOCATE COMP  "INPUT_61"    SITE "A8";
LOCATE COMP  "INPUT_62"    SITE "F10";
LOCATE COMP  "INPUT_63"    SITE "D9";
LOCATE COMP  "INPUT_64"    SITE "G10";
DEFINE PORT GROUP "INPUT_group" "INPUT*" ;
IOBUF GROUP "INPUT_group" IO_TYPE=LVDS25 DIFFRESISTOR=OFF ;



#################################################################
# SFP
#################################################################
LOCATE COMP  "SFP_LOS"    SITE "AF23";
LOCATE COMP  "SFP_TXDIS"  SITE "AD23";
LOCATE COMP  "SFP_MOD_0"  SITE "AC23";
LOCATE COMP  "SFP_MOD_1"  SITE "AB20";
LOCATE COMP  "SFP_MOD_2"  SITE "AB21";
DEFINE PORT GROUP "SFP_group" "SFP*" ;
IOBUF GROUP "SFP_group" IO_TYPE=LVCMOS25 PULLMODE=UP;


#################################################################
# Other I/O
#################################################################
LOCATE COMP  "SPARE_LINE_0"   SITE "E13";
LOCATE COMP  "SPARE_LINE_1"   SITE "L21";
LOCATE COMP  "SPARE_LINE_2"   SITE "U20";
DEFINE PORT GROUP "SPARE_LINE_group" "SPARE_LINE*" ;
IOBUF GROUP "SPARE_LINE_group" IO_TYPE=LVDS25 DIFFRESISTOR=OFF;

LOCATE COMP  "LVDS_1"   SITE "J23";
LOCATE COMP  "LVDS_2"   SITE "G26";
DEFINE PORT GROUP "LVDS_group" "LVDS*" ;
IOBUF GROUP "LVDS_group" IO_TYPE=LVDS25 DIFFRESISTOR=OFF;


LOCATE COMP  "TEMPSENS"    SITE "K23";
IOBUF PORT "TEMPSENS" IO_TYPE=LVCMOS25 PULLMODE=UP DRIVE=8;


#################################################################
# Test Connector
#################################################################
LOCATE COMP  "TEST_LINE_0"    SITE "C18";
LOCATE COMP  "TEST_LINE_1"    SITE "D18";
LOCATE COMP  "TEST_LINE_2"    SITE "F17";
LOCATE COMP  "TEST_LINE_3"    SITE "G17";
LOCATE COMP  "TEST_LINE_4"    SITE "E19";
LOCATE COMP  "TEST_LINE_5"    SITE "E20";
LOCATE COMP  "TEST_LINE_6"    SITE "E18";
LOCATE COMP  "TEST_LINE_7"    SITE "D17";
LOCATE COMP  "TEST_LINE_8"    SITE "B21";
LOCATE COMP  "TEST_LINE_9"    SITE "A22";
LOCATE COMP  "TEST_LINE_10"   SITE "F19";
LOCATE COMP  "TEST_LINE_11"   SITE "F20";
LOCATE COMP  "TEST_LINE_12"   SITE "C22";
LOCATE COMP  "TEST_LINE_13"   SITE "C21";
LOCATE COMP  "TEST_LINE_14"   SITE "G18";
LOCATE COMP  "TEST_LINE_15"   SITE "G19";

DEFINE PORT GROUP "TEST_LINE_group" "TEST_LINE*" ;
IOBUF GROUP "TEST_LINE_group" IO_TYPE=LVCMOS25 PULLMODE=DOWN DRIVE=8;


