BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

SYSCONFIG MCCLK_FREQ = 133.00 JTAG_PORT = ENABLE;
FREQUENCY NET clk_i  133 MHz;
FREQUENCY NET clk_i_inferred_clock  133 MHz;
# 
#   FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;
#   FREQUENCY PORT CLK_PCLK_LEFT  200 MHz;
#   FREQUENCY PORT CLK_GPLL_RIGHT 200 MHz;
#   FREQUENCY PORT CLK_GPLL_LEFT  125 MHz;

MULTICYCLE FROM PORT "SPI_*" 20.000000 ns ;
MULTICYCLE TO PORT "SPI_*" 20.000000 ns ;

#################################################################
# I/O
#################################################################
LOCATE COMP "CON_1"    SITE "A4";
LOCATE COMP "CON_2"    SITE "A5";
LOCATE COMP "CON_3"    SITE "A3";
LOCATE COMP "CON_4"    SITE "D6";
LOCATE COMP "CON_5"    SITE "B7";
LOCATE COMP "CON_6"    SITE "F7";
LOCATE COMP "CON_7"    SITE "C8";
LOCATE COMP "CON_8"    SITE "D8";
LOCATE COMP "CON_9"    SITE "F8";
LOCATE COMP "CON_10"   SITE "B9";
LOCATE COMP "CON_11"   SITE "F9";
LOCATE COMP "CON_12"   SITE "D10";
LOCATE COMP "CON_13"   SITE "A11";
LOCATE COMP "CON_14"   SITE "B11";
LOCATE COMP "CON_15"   SITE "B13";
LOCATE COMP "CON_16"   SITE "C12";
DEFINE PORT GROUP "CON_group" "CON*" ;
IOBUF GROUP  "CON_group" IO_TYPE=LVDS25;

LOCATE COMP "INP_1"    SITE "T2";  #FAST1
LOCATE COMP "INP_2"    SITE "T3";  #SLOW1
LOCATE COMP "INP_3"    SITE "P4";  #FAST2
LOCATE COMP "INP_4"    SITE "R5";  #SLOW2
LOCATE COMP "INP_5"    SITE "T5";  #FAST3
LOCATE COMP "INP_6"    SITE "P6";  #SLOW3
LOCATE COMP "INP_7"    SITE "R7";  #FAST4
LOCATE COMP "INP_8"    SITE "N6";  #SLOW4
LOCATE COMP "INP_9"    SITE "M6";  #FAST5
LOCATE COMP "INP_10"   SITE "M7";  #SLOW5
LOCATE COMP "INP_11"   SITE "T7";  #FAST6
LOCATE COMP "INP_12"   SITE "P8";  #SLOW6
LOCATE COMP "INP_13"   SITE "N8";  #FAST7
LOCATE COMP "INP_14"   SITE "T9";  #SLOW7
LOCATE COMP "INP_15"   SITE "R9";  #FAST8
LOCATE COMP "INP_16"   SITE "M8";  #SLOW8
DEFINE PORT GROUP "INP_group" "INP*" ;
IOBUF GROUP  "INP_group" IO_TYPE=LVDS25;


LOCATE COMP "PWM_1"    SITE "R1";
LOCATE COMP "PWM_2"    SITE "P1";
LOCATE COMP "PWM_3"    SITE "N3";
LOCATE COMP "PWM_4"    SITE "N1";
LOCATE COMP "PWM_5"    SITE "M3";
LOCATE COMP "PWM_6"    SITE "M1";
LOCATE COMP "PWM_7"    SITE "L1";
LOCATE COMP "PWM_8"    SITE "K4";
LOCATE COMP "PWM_9"    SITE "H6";
LOCATE COMP "PWM_10"   SITE "G2";
LOCATE COMP "PWM_11"   SITE "F1";
LOCATE COMP "PWM_12"   SITE "E2";
LOCATE COMP "PWM_13"   SITE "E1";
LOCATE COMP "PWM_14"   SITE "D1";
LOCATE COMP "PWM_15"   SITE "C2";
LOCATE COMP "PWM_16"   SITE "B1";
DEFINE PORT GROUP "PWM_group" "PWM*" ;
IOBUF GROUP  "PWM_group" IO_TYPE=LVCMOS33 DRIVE=4 SLEWRATE=SLOW;


LOCATE COMP "DISCHARGE_1"   SITE "G11";
LOCATE COMP "DISCHARGE_2"   SITE "H12";
LOCATE COMP "DISCHARGE_3"   SITE "J12";
LOCATE COMP "DISCHARGE_4"   SITE "H13";
LOCATE COMP "DISCHARGE_5"   SITE "H14";
LOCATE COMP "DISCHARGE_6"   SITE "H15";
LOCATE COMP "DISCHARGE_7"   SITE "H16";
LOCATE COMP "DISCHARGE_8"   SITE "G16";
DEFINE PORT GROUP "DISCHARGE_group" "DISCHARGE*" ;
IOBUF GROUP  "DISCHARGE_group" IO_TYPE=LVCMOS33 DRIVE=12 SLEWRATE=SLOW;


LOCATE COMP "LED_1"                       SITE "G1";
LOCATE COMP "LED_2"                       SITE "H2";
LOCATE COMP "LED_3"                       SITE "H4";
LOCATE COMP "LED_4"                       SITE "J6";
LOCATE COMP "LED_5"                       SITE "H3";
LOCATE COMP "LED_6"                       SITE "H1";
LOCATE COMP "LED_7"                       SITE "J1";
LOCATE COMP "LED_8"                       SITE "J3";
DEFINE PORT GROUP "LED_group" "LED*" ;
IOBUF GROUP  "LED_group" IO_TYPE=LVCMOS33 DRIVE=4 SLEWRATE=SLOW;


LOCATE COMP "TEST_LINE_0"    SITE "F14";
LOCATE COMP "TEST_LINE_1"    SITE "F16";
LOCATE COMP "TEST_LINE_2"    SITE "F15";
LOCATE COMP "TEST_LINE_3"    SITE "E16";
LOCATE COMP "TEST_LINE_4"    SITE "E15";
LOCATE COMP "TEST_LINE_5"    SITE "D16";
LOCATE COMP "TEST_LINE_6"    SITE "D15";
LOCATE COMP "TEST_LINE_7"    SITE "C16";
LOCATE COMP "TEST_LINE_8"    SITE "C15";
LOCATE COMP "TEST_LINE_9"    SITE "B16";
LOCATE COMP "TEST_LINE_10"   SITE "E14";
LOCATE COMP "TEST_LINE_11"   SITE "D14";
LOCATE COMP "TEST_LINE_12"   SITE "F13";
LOCATE COMP "TEST_LINE_13"   SITE "G12";
DEFINE PORT GROUP "TEST_group" "TEST*" ;
IOBUF GROUP  "TEST_group" IO_TYPE=LVCMOS33 DRIVE=8;


LOCATE COMP "SPI_CLK"   SITE "T15"; 
LOCATE COMP "SPI_CS"    SITE "P12"; 
LOCATE COMP "SPI_IN"    SITE "R12"; 
LOCATE COMP "SPI_OUT"   SITE "B14"; 

IOBUF PORT  "SPI_CLK" IO_TYPE=LVDS25 DIFFRESISTOR=100;
IOBUF PORT  "SPI_CS"  IO_TYPE=LVDS25 DIFFRESISTOR=100;
IOBUF PORT  "SPI_IN"  IO_TYPE=LVDS25 DIFFRESISTOR=100;
IOBUF PORT  "SPI_OUT" IO_TYPE=LVDS25;

LOCATE COMP "TEMP_LINE"   SITE "L12"; 
IOBUF PORT "TEMP_LINE" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "SPARE_LVDS" SITE "C4"; 
IOBUF PORT  "SPARE_LVDS" IO_TYPE=LVDS25;


LOCATE COMP "DELAY_C_IN_8"      SITE "G14";       #"DL_BR_08_C_0"
LOCATE COMP "DELAY_C_OUT_8"     SITE "G15";       #"DL_BR_08_C_1"
LOCATE COMP "DELAY_C_IN_7"      SITE "J14";       #"DL_BR_10_C_0"
LOCATE COMP "DELAY_C_OUT_7"     SITE "J16";       #"DL_BR_10_C_1"
LOCATE COMP "DELAY_C_IN_6"      SITE "J15";       #"DL_BR_13_C_0"
LOCATE COMP "DELAY_C_OUT_6"     SITE "K16";       #"DL_BR_13_C_1"
LOCATE COMP "DELAY_C_IN_5"      SITE "L14";       #"DL_BR_15_C_0"
LOCATE COMP "DELAY_C_OUT_5"     SITE "L16";       #"DL_BR_15_C_1"
LOCATE COMP "DELAY_C_IN_4"      SITE "L15";       #"DL_BR_16_C_0"
LOCATE COMP "DELAY_C_OUT_4"     SITE "M16";       #"DL_BR_16_C_1"
LOCATE COMP "DELAY_C_IN_3"      SITE "N15";       #"DL_BR_18_C_2"
LOCATE COMP "DELAY_C_OUT_3"     SITE "P16";       #"DL_BR_18_C_3"
LOCATE COMP "DELAY_C_IN_2"      SITE "N14";       #"DL_BR_19_C_0"
LOCATE COMP "DELAY_C_OUT_2"     SITE "N16";       #"DL_BR_19_C_1"
LOCATE COMP "DELAY_C_IN_1"      SITE "P15";       #"DL_BR_20_C_0"
LOCATE COMP "DELAY_C_OUT_1"     SITE "R16";       #"DL_BR_20_C_1"
DEFINE PORT GROUP "DELAY_C_OUT_group" "DELAY_C_OUT*" ;
IOBUF GROUP  "DELAY_C_OUT_group" IO_TYPE=LVCMOS33 DRIVE=24 PULLMODE=DOWN;

DEFINE PORT GROUP "DELAY_C_IN_group" "DELAY_C_IN*" ;
IOBUF GROUP  "DELAY_C_IN_group" IO_TYPE=LVCMOS33  ;




LOCATE COMP "DELAY_R_IN_6"    SITE "F12";     #"DL_BR_06_0"
LOCATE COMP "DELAY_R_OUT_6"   SITE "G13";     #"DL_BR_06_1"
LOCATE COMP "DELAY_R_IN_5"    SITE "H11";     #"DL_BR_13_2"
LOCATE COMP "DELAY_R_OUT_5"   SITE "J13";     #"DL_BR_13_3"
LOCATE COMP "DELAY_R_IN_4"    SITE "K14";     #"DL_BR_14_0"
LOCATE COMP "DELAY_R_OUT_4"   SITE "K15";     #"DL_BR_14_1"
LOCATE COMP "DELAY_R_IN_3"    SITE "K12";     #"DL_BR_15_2"
LOCATE COMP "DELAY_R_OUT_3"   SITE "K13";     #"DL_BR_15_3"
LOCATE COMP "DELAY_R_IN_2"    SITE "K11";     #"DL_BR_16_2"
LOCATE COMP "DELAY_R_OUT_2"   SITE "L13";     #"DL_BR_16_3"
LOCATE COMP "DELAY_R_IN_1"    SITE "M14";     #"DL_BR_18_0"
LOCATE COMP "DELAY_R_OUT_1"   SITE "M15";     #"DL_BR_18_1"

LOCATE COMP "DELAY_L_IN_5"    SITE "F4";      #"DL_BL_06_0"
LOCATE COMP "DELAY_L_OUT_5"   SITE "G6";      #"DL_BL_06_1"
LOCATE COMP "DELAY_L_IN_4"    SITE "J2";      #"DL_BL_13_0"
LOCATE COMP "DELAY_L_OUT_4"   SITE "K1";      #"DL_BL_13_1"
LOCATE COMP "DELAY_L_IN_3"    SITE "H5";      #"DL_BL_13_2"
LOCATE COMP "DELAY_L_OUT_3"   SITE "J4";      #"DL_BL_13_3"
LOCATE COMP "DELAY_L_IN_2"    SITE "K2";      #"DL_BL_14_0"
LOCATE COMP "DELAY_L_OUT_2"   SITE "K3";      #"DL_BL_14_1"
LOCATE COMP "DELAY_L_IN_1"    SITE "J5";      #"DL_BL_14_2"
LOCATE COMP "DELAY_L_OUT_1"   SITE "K6";      #"DL_BL_14_3"

LOCATE COMP "DELAY_B_IN_5"    SITE "M10";     #"DL_BB_24_0"
LOCATE COMP "DELAY_B_OUT_5"   SITE "N11";     #"DL_BB_24_1"
LOCATE COMP "DELAY_B_IN_4"    SITE "P11";     #"DL_BB_24_2"
LOCATE COMP "DELAY_B_OUT_4"   SITE "T11";     #"DL_BB_24_3"
LOCATE COMP "DELAY_B_IN_3"    SITE "M11";     #"DL_BB_23_0"
LOCATE COMP "DELAY_B_OUT_3"   SITE "N10";     #"DL_BB_23_1"
LOCATE COMP "DELAY_B_IN_2"    SITE "P10";     #"DL_BB_23_2"
LOCATE COMP "DELAY_B_OUT_2"   SITE "R10";     #"DL_BB_23_3"
LOCATE COMP "DELAY_B_IN_1"    SITE "L10";     #"DL_BB_21_0"
LOCATE COMP "DELAY_B_OUT_1"   SITE "M9";      #"DL_BB_21_1"

DEFINE PORT GROUP "DELAY_C_OUT_group" "DELAY_*_OUT*" ;
IOBUF GROUP  "DELAY_C_OUT_group" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;

DEFINE PORT GROUP "DELAY_C_IN_group" "DELAY_*_IN*" ;
IOBUF GROUP  "DELAY_C_IN_group" IO_TYPE=LVCMOS33  ;
