BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;


#################################################################
# Basic Settings
#################################################################
SYSCONFIG MCCLK_FREQ = 20;
FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;
FREQUENCY PORT CLK_GPLL_LEFT  125 MHz;
FREQUENCY PORT CLK_PCLK_LEFT  200 MHz;
FREQUENCY PORT CLK_GPLL_RIGHT 200 MHz;

MULTICYCLE FROM CLKNET "clk_100_i_c" TO CLKNET "CLK_PCLK_LEFT_c" 2 X ;
MULTICYCLE FROM CLKNET "CLK_PCLK_LEFT_c" TO CLKNET "clk_100_i_c" 2 X ;

LOCATE COMP   "THE_MEDIA_UPLINK/gen_serdes_1_200_THE_SERDES/PCSD_INST" SITE "PCSA" ;

#################################################################
# Clock I/O
#################################################################
LOCATE COMP  "CLK_PCLK_RIGHT"       SITE "U20";
LOCATE COMP  "CLK_SERDES_INT_RIGHT" SITE "AC18";
LOCATE COMP  "CLK_SERDES_INT_LEFT"  SITE "AC10";
LOCATE COMP  "CLK_GPLL_LEFT"        SITE "U25";

LOCATE COMP  "CLK_PCLK_LEFT"        SITE "M4";
LOCATE COMP  "CLK_GPLL_RIGHT"       SITE "W1";

DEFINE PORT GROUP "CLK_group" "CLK*" ;
IOBUF GROUP  "CLK_group" IO_TYPE=LVDS25 ;


#################################################################
# Trigger I/O
#################################################################

#Trigger from fan-out
#LOCATE COMP  "TRIGGER_RIGHT"   SITE "N24";
#IOBUF  PORT  "TRIGGER_RIGHT" IO_TYPE=LVDS25; 

LOCATE COMP  "TRIGGER_LEFT"   SITE "V3";
IOBUF  PORT  "TRIGGER_LEFT"  IO_TYPE=LVDS25;



#################################################################
# To central FPGA
#################################################################

LOCATE COMP  "FPGA5_COMM_0"   SITE "AD4";
LOCATE COMP  "FPGA5_COMM_1"   SITE "AE3";
LOCATE COMP  "FPGA5_COMM_2"   SITE "AA7";
LOCATE COMP  "FPGA5_COMM_3"   SITE "AB7";
LOCATE COMP  "FPGA5_COMM_4"   SITE "AD3";
LOCATE COMP  "FPGA5_COMM_5"   SITE "AC4";
LOCATE COMP  "FPGA5_COMM_6"   SITE "AE2";
LOCATE COMP  "FPGA5_COMM_7"   SITE "AF3";
LOCATE COMP  "FPGA5_COMM_8"   SITE "AE4";
LOCATE COMP  "FPGA5_COMM_9"   SITE "AF4";
LOCATE COMP  "FPGA5_COMM_10"  SITE "V10";
LOCATE COMP  "FPGA5_COMM_11"  SITE "W10";
DEFINE PORT GROUP "FPGA_group" "FPGA*" ;
IOBUF GROUP "FPGA_group" IO_TYPE=LVCMOS25 PULLMODE=UP ;

LOCATE COMP  "TEST_LINE_0"   SITE "A5";
LOCATE COMP  "TEST_LINE_1"   SITE "A6";
LOCATE COMP  "TEST_LINE_2"   SITE "G8";
LOCATE COMP  "TEST_LINE_3"   SITE "F9";
LOCATE COMP  "TEST_LINE_4"   SITE "D9";
LOCATE COMP  "TEST_LINE_5"   SITE "D10";
LOCATE COMP  "TEST_LINE_6"   SITE "F10";
LOCATE COMP  "TEST_LINE_7"   SITE "E10";
LOCATE COMP  "TEST_LINE_8"   SITE "A8";
LOCATE COMP  "TEST_LINE_9"   SITE "B8";
LOCATE COMP  "TEST_LINE_10"  SITE "G10";
LOCATE COMP  "TEST_LINE_11"  SITE "G9";
LOCATE COMP  "TEST_LINE_12"  SITE "C9";
LOCATE COMP  "TEST_LINE_13"  SITE "C10";
LOCATE COMP  "TEST_LINE_14"  SITE "H10";
LOCATE COMP  "TEST_LINE_15"  SITE "H11";
DEFINE PORT GROUP "TEST_LINE_group" "TEST_LINE*" ;
IOBUF GROUP "TEST_LINE_group" IO_TYPE=LVCMOS25 PULLMODE=DOWN DRIVE=12;

#################################################################
# TDC INPUTS
#################################################################

LOCATE COMP  "INP_0"    SITE "AE25";  # CHO1
LOCATE COMP  "INP_1"    SITE "AD24";  # CHO2
LOCATE COMP  "INP_2"    SITE "Y22";   # CHO31
LOCATE COMP  "INP_3"    SITE "AB24";  # CHO32
LOCATE COMP  "INP_4"    SITE "N5";    # CHO41
LOCATE COMP  "INP_5"    SITE "AC2";   # CHO42
LOCATE COMP  "INP_6"    SITE "P5";    # CHO43
LOCATE COMP  "INP_7"    SITE "N3";    # CHO44
LOCATE COMP  "INP_8"    SITE "Y19";   # OUT1
LOCATE COMP  "INP_9"    SITE "AC26";  # OUT2
LOCATE COMP  "INP_10"   SITE "F25";   # OUT3
LOCATE COMP  "INP_11"   SITE "K23";   # OUT4
LOCATE COMP  "INP_12"   SITE "K8";    # OUT5
LOCATE COMP  "INP_13"   SITE "H5";    # OUT6
LOCATE COMP  "INP_14"   SITE "K7";    # OUT7
LOCATE COMP  "INP_15"   SITE "C2";    # OUT8
LOCATE COMP  "INP_16"   SITE "F2";    # OUT9
LOCATE COMP  "INP_17"   SITE "G2";    # OUT10
LOCATE COMP  "INP_18"   SITE "M3";    # OUT11
LOCATE COMP  "INP_19"   SITE "L2";    # OUT12
LOCATE COMP  "INP_20"   SITE "H2";    # OUT13
LOCATE COMP  "INP_21"   SITE "V6";    # OUT14
LOCATE COMP  "INP_22"   SITE "Y5";    # OUT15
LOCATE COMP  "INP_23"   SITE "W7";    # OUT16

DEFINE PORT GROUP "INP_group" "INP*" ;
IOBUF GROUP "INP_group" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;


#################################################################
# Additional Lines to AddOn
#################################################################

LOCATE COMP  "LEDR_1"    SITE "U24";
LOCATE COMP  "LEDR_2"    SITE "V21";
LOCATE COMP  "LEDR_3"    SITE "T26";
LOCATE COMP  "LEDR_4"    SITE "U23";

LOCATE COMP  "LEDG_1"    SITE "W21";
LOCATE COMP  "LEDG_2"    SITE "AA26";
LOCATE COMP  "LEDG_3"    SITE "AA25";
LOCATE COMP  "LEDG_4"    SITE "W23";
LOCATE COMP  "LEDG_5"    SITE "AA24";
LOCATE COMP  "LEDG_6"    SITE "AD26";
LOCATE COMP  "LEDG_7"    SITE "T25";

#Ports are defined with the other LEDs on trb3


#################################################################
# DAC SPI & Flash ROM & Reboot
#################################################################

LOCATE COMP  "FLASH_CLK"    SITE "B12";
LOCATE COMP  "FLASH_CS"   SITE "E11";
LOCATE COMP  "FLASH_DIN"   SITE "E12";
LOCATE COMP  "FLASH_DOUT"    SITE "A12";

DEFINE PORT GROUP "FLASH_group" "FLASH*" ;
IOBUF GROUP "FLASH_group" IO_TYPE=LVCMOS25 PULLMODE=NONE;

LOCATE COMP  "PROGRAMN"   SITE "B11";
IOBUF  PORT "PROGRAMN" IO_TYPE=LVCMOS25 PULLMODE=UP DRIVE=8  ;

#################################################################
# Misc
#################################################################
LOCATE COMP  "TEMPSENS"    SITE "A13";
IOBUF  PORT "TEMPSENS" IO_TYPE=LVCMOS25 PULLMODE=UP DRIVE=8  ;

#coding of FPGA number
LOCATE COMP "CODE_LINE_1"    SITE "AA20";
LOCATE COMP "CODE_LINE_0"    SITE "Y21";
IOBUF  PORT "CODE_LINE_1" IO_TYPE=LVCMOS25 PULLMODE=UP  ;
IOBUF  PORT "CODE_LINE_0" IO_TYPE=LVCMOS25 PULLMODE=UP  ;

#terminated differential pair to pads
LOCATE COMP  "SUPPL"   SITE "C14";
IOBUF  PORT "SUPPL" IO_TYPE=LVDS25   ;


#################################################################
# LED
#################################################################
LOCATE COMP  "LED_GREEN"    SITE "F12";
LOCATE COMP  "LED_ORANGE"   SITE "G13";
LOCATE COMP  "LED_RED"      SITE "A15";
LOCATE COMP  "LED_YELLOW"   SITE "A16";
DEFINE PORT GROUP "LED_group" "LED*" ;
IOBUF GROUP "LED_group" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=12;
