BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

  SYSCONFIG MCCLK_FREQ = 2.5;
  FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;
  FREQUENCY PORT CLK_PCLK_LEFT  200 MHz;
  FREQUENCY PORT CLK_GPLL_RIGHT 200 MHz;
  FREQUENCY PORT CLK_GPLL_LEFT  100 MHz;

  
#################################################################
# Reset Nets
#################################################################  
GSR_NET NET "GSR_N";  


#################################################################
# Locate Serdes and media interfaces
#################################################################
LOCATE COMP   "THE_MEDIA_UPLINK/gen_serdes_1_200_THE_SERDES/PCSD_INST" SITE "PCSA" ;


REGION "MEDIA_UPLINK" "R102C95D" 13 25;
LOCATE UGROUP "THE_MEDIA_UPLINK/media_interface_group" REGION "MEDIA_UPLINK" ;

# REGION "REGION_ENDPOINT" "" ;




#################################################################
# TDC Constraints
#################################################################
##############################################################################
##			     REGION DECLERATION                             ##
##############################################################################
REGION "Region_0" "R9C2D" 28 63 DEVSIZE;
REGION "Region_1" "R37C2D" 21 63 DEVSIZE;
REGION "Region_2" "R59C2D" 22 63 DEVSIZE;
REGION "Region_3" "R81C2D" 24 63 DEVSIZE;
REGION "Region_4" "R9C65D" 24 63 DEVSIZE;
REGION "Region_5" "R33C65D" 24 63 DEVSIZE;
REGION "Region_6" "R57C65D" 24 63 DEVSIZE;
REGION "Region_7" "R81C65D" 24 63 DEVSIZE;
##############################################################################
##	            DELAY LINE and HIT BUFFER PLACEMENTS                    ##
##############################################################################
UGROUP "FC_0" BBOX 1 54 
	BLKNAME TDC_INST/GEN_Channels_0_Channels/FC;
LOCATE UGROUP "FC_0" SITE "R17C5D" ;
UGROUP "hit_0" 
	BLKNAME TDC_INST/GEN_Channels_0_Channels/hit_buf_RNO;
LOCATE UGROUP "hit_0" SITE "R18C7D" ;
#
UGROUP "FC_1" BBOX 1 54 
	BLKNAME TDC_INST/GEN_Channels_1_Channels/FC;
LOCATE UGROUP "FC_1" SITE "R20C5D" ;
UGROUP "hit_1" 
	BLKNAME TDC_INST/GEN_Channels_1_Channels/hit_buf_RNO;
LOCATE UGROUP "hit_1" SITE "R21C7D" ;
#
UGROUP "FC_2" BBOX 1 54 
	BLKNAME TDC_INST/GEN_Channels_2_Channels/FC;
LOCATE UGROUP "FC_2" SITE "R31C5D" ;
UGROUP "hit_2" 
	BLKNAME TDC_INST/GEN_Channels_2_Channels/hit_buf_RNO;
LOCATE UGROUP "hit_2" SITE "R32C7D" ;
#
UGROUP "FC_3" BBOX 1 54 
	BLKNAME TDC_INST/GEN_Channels_3_Channels/FC;
LOCATE UGROUP "FC_3" SITE "R42C5D" ;
UGROUP "hit_3" 
	BLKNAME TDC_INST/GEN_Channels_3_Channels/hit_buf_RNO;
LOCATE UGROUP "hit_3" SITE "R43C7D" ;
#
UGROUP "FC_4" BBOX 1 54 
	BLKNAME TDC_INST/GEN_Channels_4_Channels/FC;
LOCATE UGROUP "FC_4" SITE "R44C5D" ;
UGROUP "hit_4" 
	BLKNAME TDC_INST/GEN_Channels_4_Channels/hit_buf_RNO;
LOCATE UGROUP "hit_4" SITE "R45C7D" ;
#
UGROUP "FC_5" BBOX 1 54 
	BLKNAME TDC_INST/GEN_Channels_5_Channels/FC;
LOCATE UGROUP "FC_5" SITE "R53C5D" ;
UGROUP "hit_5" 
	BLKNAME TDC_INST/GEN_Channels_5_Channels/hit_buf_RNO;
LOCATE UGROUP "hit_5" SITE "R54C7D" ;
#
UGROUP "FC_6" BBOX 1 54 
	BLKNAME TDC_INST/GEN_Channels_6_Channels/FC;
LOCATE UGROUP "FC_6" SITE "R60C5D" ;
UGROUP "hit_6" 
	BLKNAME TDC_INST/GEN_Channels_6_Channels/hit_buf_RNO;
LOCATE UGROUP "hit_6" SITE "R61C7D" ;
#
UGROUP "FC_7" BBOX 1 54 
	BLKNAME TDC_INST/GEN_Channels_7_Channels/FC;
LOCATE UGROUP "FC_7" SITE "R73C5D" ;
UGROUP "hit_7" 
	BLKNAME TDC_INST/GEN_Channels_7_Channels/hit_buf_RNO;
LOCATE UGROUP "hit_7" SITE "R74C7D" ;
#
MAXDELAY NET "TDC_INST/GEN_Channels_0_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
MAXDELAY NET "TDC_INST/GEN_Channels_1_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
MAXDELAY NET "TDC_INST/GEN_Channels_2_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
MAXDELAY NET "TDC_INST/GEN_Channels_3_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
MAXDELAY NET "TDC_INST/GEN_Channels_4_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
MAXDELAY NET "TDC_INST/GEN_Channels_5_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
MAXDELAY NET "TDC_INST/GEN_Channels_6_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
MAXDELAY NET "TDC_INST/GEN_Channels_7_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
#MAXDELAY NET "TDC_INST/GEN_Channels_8_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
#MAXDELAY NET "TDC_INST/GEN_Channels_9_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
#MAXDELAY NET "TDC_INST/GEN_Channels_10_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
#MAXDELAY NET "TDC_INST/GEN_Channels_11_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
#MAXDELAY NET "TDC_INST/GEN_Channels_12_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
#MAXDELAY NET "TDC_INST/GEN_Channels_13_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
#MAXDELAY NET "TDC_INST/GEN_Channels_14_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
#MAXDELAY NET "TDC_INST/GEN_Channels_15_Channels/hit_buf" 0.700000 nS DATAPATH_ONLY ;
##############################################################################
##			     CHANNEL PLACEMENTS                             ##
##############################################################################
UGROUP "Encoder_0" 
	BLKNAME TDC_INST/GEN_Channels_0_Channels/Encoder;
LOCATE UGROUP "Encoder_0" REGION "Region_0" ;
UGROUP "FIFO_0" 
	BLKNAME TDC_INST/GEN_Channels_0_Channels/FIFO;
LOCATE UGROUP "FIFO_0" REGION "Region_0" ;
UGROUP "Encoder_1" 
	BLKNAME TDC_INST/GEN_Channels_1_Channels/Encoder;
LOCATE UGROUP "Encoder_1" REGION "Region_0" ;
UGROUP "FIFO_1" 
	BLKNAME TDC_INST/GEN_Channels_1_Channels/FIFO;
LOCATE UGROUP "FIFO_1" REGION "Region_0" ;
UGROUP "Encoder_2" 
	BLKNAME TDC_INST/GEN_Channels_2_Channels/Encoder;
LOCATE UGROUP "Encoder_2" REGION "Region_0" ;
UGROUP "FIFO_2" 
	BLKNAME TDC_INST/GEN_Channels_2_Channels/FIFO;
LOCATE UGROUP "FIFO_2" REGION "Region_0" ;
UGROUP "Encoder_3" 
	BLKNAME TDC_INST/GEN_Channels_3_Channels/Encoder;
LOCATE UGROUP "Encoder_3" REGION "Region_1" ;
UGROUP "FIFO_3" 
	BLKNAME TDC_INST/GEN_Channels_3_Channels/FIFO;
LOCATE UGROUP "FIFO_3" REGION "Region_1" ;
UGROUP "Encoder_4" 
	BLKNAME TDC_INST/GEN_Channels_4_Channels/Encoder;
LOCATE UGROUP "Encoder_4" REGION "Region_1" ;
UGROUP "FIFO_4" 
	BLKNAME TDC_INST/GEN_Channels_4_Channels/FIFO;
LOCATE UGROUP "FIFO_4" REGION "Region_1" ;
UGROUP "Encoder_5" 
	BLKNAME TDC_INST/GEN_Channels_5_Channels/Encoder;
LOCATE UGROUP "Encoder_5" REGION "Region_1" ;
UGROUP "FIFO_5" 
	BLKNAME TDC_INST/GEN_Channels_5_Channels/FIFO;
LOCATE UGROUP "FIFO_5" REGION "Region_1" ;
UGROUP "Encoder_6" 
	BLKNAME TDC_INST/GEN_Channels_6_Channels/Encoder;
LOCATE UGROUP "Encoder_6" REGION "Region_2" ;
UGROUP "FIFO_6" 
	BLKNAME TDC_INST/GEN_Channels_6_Channels/FIFO;
LOCATE UGROUP "FIFO_6" REGION "Region_2" ;
UGROUP "Encoder_7" 
	BLKNAME TDC_INST/GEN_Channels_7_Channels/Encoder;
LOCATE UGROUP "Encoder_7" REGION "Region_2" ;
UGROUP "FIFO_7" 
	BLKNAME TDC_INST/GEN_Channels_7_Channels/FIFO;
LOCATE UGROUP "FIFO_7" REGION "Region_2" ;




#UGROUP "Channel_0" BBOX 8 52 
#	BLKNAME TDC_INST/GEN_Channels_0_Channels;
#LOCATE UGROUP "Channel_0" REGION "Region_0" ;
#UGROUP "Channel_1" BBOX 8 52 
#	BLKNAME TDC_INST/GEN_Channels_1_Channels;
#LOCATE UGROUP "Channel_1" REGION "Region_0" ;
#UGROUP "Channel_2" BBOX 8 52 
#	BLKNAME TDC_INST/GEN_Channels_2_Channels;
#LOCATE UGROUP "Channel_2" REGION "Region_0" ;
#UGROUP "Channel_3" BBOX 8 52 
#	BLKNAME TDC_INST/GEN_Channels_3_Channels;
#LOCATE UGROUP "Channel_3" REGION "Region_1" ;
#UGROUP "Channel_4" BBOX 8 52 
#	BLKNAME TDC_INST/GEN_Channels_4_Channels;
#LOCATE UGROUP "Channel_4" REGION "Region_1" ;
#UGROUP "Channel_5" BBOX 8 52 
#	BLKNAME TDC_INST/GEN_Channels_5_Channels;
#LOCATE UGROUP "Channel_5" REGION "Region_1" ;
#UGROUP "Channel_6" BBOX 8 52 
#	BLKNAME TDC_INST/GEN_Channels_6_Channels;
#LOCATE UGROUP "Channel_6" REGION "Region_2" ;
#UGROUP "Channel_7" BBOX 8 52 
#	BLKNAME TDC_INST/GEN_Channels_7_Channels;
#LOCATE UGROUP "Channel_7" REGION "Region_2" ;
##############################################################################
#UGROUP "FC_8" BBOX 1 54 
#	BLKNAME GEN_FC_8_FC;
#LOCATE UGROUP "FC_8" SITE "R60C9D" ;
#UGROUP "FC_9" BBOX 1 54 
#	BLKNAME GEN_FC_9_FC;
#LOCATE UGROUP "FC_9" SITE "R65C9D" ;
#UGROUP "FC_10" BBOX 1 54 
#	BLKNAME GEN_FC_10_FC;
#LOCATE UGROUP "FC_10" SITE "R71C9D" ;
#UGROUP "FC_11" BBOX 1 54 
#	BLKNAME GEN_FC_11_FC;
#LOCATE UGROUP "FC_11" SITE "R78C9D" ;
#UGROUP "FC_12" BBOX 1 54 
#	BLKNAME GEN_FC_12_FC;
#LOCATE UGROUP "FC_12" SITE "R83C9D" ;
#UGROUP "FC_13" BBOX 1 54 
#	BLKNAME GEN_FC_13_FC;
#LOCATE UGROUP "FC_13" SITE "R89C9D" ;
#UGROUP "FC_14" BBOX 1 54 
#	BLKNAME GEN_FC_14_FC;
#LOCATE UGROUP "FC_14" SITE "R96C9D" ;
#UGROUP "FC_15" BBOX 1 54 
#	BLKNAME GEN_FC_15_FC;
#LOCATE UGROUP "FC_15" SITE "R101C9D" ;
#UGROUP "FC_16" BBOX 1 54 
#	BLKNAME GEN_FC_16_FC;
#LOCATE UGROUP "FC_16" SITE "R12C72D" ;
#UGROUP "FC_17" BBOX 1 54 
#	BLKNAME GEN_FC_17_FC;
#LOCATE UGROUP "FC_17" SITE "R17C72D" ;
#UGROUP "FC_18" BBOX 1 54 
#	BLKNAME GEN_FC_18_FC;
#LOCATE UGROUP "FC_18" SITE "R24C72D" ;
#UGROUP "FC_19" BBOX 1 54 
#	BLKNAME GEN_FC_19_FC;
#LOCATE UGROUP "FC_19" SITE "R29C72D" ;
#UGROUP "FC_20" BBOX 1 54 
#	BLKNAME GEN_FC_20_FC;
#LOCATE UGROUP "FC_20" SITE "R35C72D" ;
#UGROUP "FC_21" BBOX 1 54 
#	BLKNAME GEN_FC_21_FC;
#LOCATE UGROUP "FC_21" SITE "R42C72D" ;
#UGROUP "FC_22" BBOX 1 54 
#	BLKNAME GEN_FC_22_FC;
#LOCATE UGROUP "FC_22" SITE "R47C72D" ;
#UGROUP "FC_23" BBOX 1 54 
#	BLKNAME GEN_FC_23_FC;
#LOCATE UGROUP "FC_23" SITE "R53C72D" ;
#UGROUP "FC_24" BBOX 1 54 
#	BLKNAME GEN_FC_24_FC;
#LOCATE UGROUP "FC_24" SITE "R60C72D" ;
#UGROUP "FC_25" BBOX 1 54 
#	BLKNAME GEN_FC_25_FC;
#LOCATE UGROUP "FC_25" SITE "R65C72D" ;
#UGROUP "FC_26" BBOX 1 54 
#	BLKNAME GEN_FC_26_FC;
#LOCATE UGROUP "FC_26" SITE "R71C72D" ;
#UGROUP "FC_27" BBOX 1 54 
#	BLKNAME GEN_FC_27_FC;
#LOCATE UGROUP "FC_27" SITE "R78C72D" ;
#UGROUP "FC_28" BBOX 1 54 
#	BLKNAME GEN_FC_28_FC;
#LOCATE UGROUP "FC_28" SITE "R83C72D" ;
#UGROUP "FC_29" BBOX 1 54 
#	BLKNAME GEN_FC_29_FC;
#LOCATE UGROUP "FC_29" SITE "R89C72D" ;
#UGROUP "FC_30" BBOX 1 54 
#	BLKNAME GEN_FC_30_FC;
#LOCATE UGROUP "FC_30" SITE "R96C72D" ;
#UGROUP "FC_31" BBOX 1 54 
#	BLKNAME GEN_FC_31_FC;
#LOCATE UGROUP "FC_31" SITE "R101C72D" ;
############## Placement of the 48 Tapped-Delay-Lines ##########################
#UGROUP "FC_0" BBOX 1 48 
#BLKNAME GEN_FC_0_FC;
#LOCATE UGROUP "FC_0" SITE "R12C9D" ;
#UGROUP "FC_1" BBOX 1 48 
#BLKNAME GEN_FC_1_FC;
#LOCATE UGROUP "FC_1" SITE "R14C9D" ;
#UGROUP "FC_2" BBOX 1 48 
#BLKNAME GEN_FC_2_FC;
#LOCATE UGROUP "FC_2" SITE "R18C9D" ;
#UGROUP "FC_3" BBOX 1 48 
#BLKNAME GEN_FC_3_FC;
#LOCATE UGROUP "FC_3" SITE "R22C9D" ;
#UGROUP "FC_4" BBOX 1 48 
#BLKNAME GEN_FC_4_FC;
#LOCATE UGROUP "FC_4" SITE "R26C9D" ;
#UGROUP "FC_5" BBOX 1 48 
#BLKNAME GEN_FC_5_FC;
#LOCATE UGROUP "FC_5" SITE "R31C9D" ;
#UGROUP "FC_6" BBOX 1 48 
#BLKNAME GEN_FC_6_FC;
#LOCATE UGROUP "FC_6" SITE "R35C9D" ;
#UGROUP "FC_7" BBOX 1 48 
#BLKNAME GEN_FC_7_FC;
#LOCATE UGROUP "FC_7" SITE "R40C9D" ;
#UGROUP "FC_8" BBOX 1 48 
#BLKNAME GEN_FC_8_FC;
#LOCATE UGROUP "FC_8" SITE "R44C9D" ;
#UGROUP "FC_9" BBOX 1 48 
#BLKNAME GEN_FC_9_FC;
#LOCATE UGROUP "FC_9" SITE "R48C9D" ;
#UGROUP "FC_10" BBOX 1 48 
#BLKNAME GEN_FC_10_FC;
#LOCATE UGROUP "FC_10" SITE "R51C9D" ;
#UGROUP "FC_11" BBOX 1 48 
#BLKNAME GEN_FC_11_FC;
#LOCATE UGROUP "FC_11" SITE "R53C9D" ;
#UGROUP "FC_12" BBOX 1 48 
#BLKNAME GEN_FC_12_FC;
#LOCATE UGROUP "FC_12" SITE "R57C9D" ;
#UGROUP "FC_13" BBOX 1 48 
#BLKNAME GEN_FC_13_FC;
#LOCATE UGROUP "FC_13" SITE "R62C9D" ;
#UGROUP "FC_14" BBOX 1 48 
#BLKNAME GEN_FC_14_FC;
#LOCATE UGROUP "FC_14" SITE "R66C9D" ;
#UGROUP "FC_15" BBOX 1 48 
#BLKNAME GEN_FC_15_FC;
#LOCATE UGROUP "FC_15" SITE "R71C9D" ;
#UGROUP "FC_16" BBOX 1 48 
#BLKNAME GEN_FC_16_FC;
#LOCATE UGROUP "FC_16" SITE "R75C9D" ;
#UGROUP "FC_17" BBOX 1 48 
#BLKNAME GEN_FC_17_FC;
#LOCATE UGROUP "FC_17" SITE "R80C9D" ;
#UGROUP "FC_18" BBOX 1 48 
#BLKNAME GEN_FC_18_FC;
#LOCATE UGROUP "FC_18" SITE "R84C9D" ;
#UGROUP "FC_19" BBOX 1 48 
#BLKNAME GEN_FC_19_FC;
#LOCATE UGROUP "FC_19" SITE "R87C9D" ;
#UGROUP "FC_20" BBOX 1 48 
#BLKNAME GEN_FC_20_FC;
#LOCATE UGROUP "FC_20" SITE "R91C9D" ;
#UGROUP "FC_21" BBOX 1 48 
#BLKNAME GEN_FC_21_FC;
#LOCATE UGROUP "FC_21" SITE "R93C9D" ;
#UGROUP "FC_22" BBOX 1 48 
#BLKNAME GEN_FC_22_FC;
#LOCATE UGROUP "FC_22" SITE "R98C9D" ;
#UGROUP "FC_23" BBOX 1 48 
#BLKNAME GEN_FC_23_FC;
#LOCATE UGROUP "FC_23" SITE "R102C9D" ;
#UGROUP "FC_24" BBOX 1 48 
#BLKNAME GEN_FC_24_FC;
#LOCATE UGROUP "FC_24" SITE "R9C72D" ;
#UGROUP "FC_25" BBOX 1 48 
#BLKNAME GEN_FC_25_FC;
#LOCATE UGROUP "FC_25" SITE "R14C72D" ;
#UGROUP "FC_26" BBOX 1 48 
#BLKNAME GEN_FC_26_FC;
#LOCATE UGROUP "FC_26" SITE "R18C72D" ;
#UGROUP "FC_27" BBOX 1 48 
#BLKNAME GEN_FC_27_FC;
#LOCATE UGROUP "FC_27" SITE "R22C72D" ;
#UGROUP "FC_28" BBOX 1 48 
#BLKNAME GEN_FC_28_FC;
#LOCATE UGROUP "FC_28" SITE "R26C72D" ;
#UGROUP "FC_29" BBOX 1 48 
#BLKNAME GEN_FC_29_FC;
#LOCATE UGROUP "FC_29" SITE "R31C72D" ;
#UGROUP "FC_30" BBOX 1 48 
#BLKNAME GEN_FC_30_FC;
#LOCATE UGROUP "FC_30" SITE "R35C72D" ;
#UGROUP "FC_31" BBOX 1 48 
#BLKNAME GEN_FC_31_FC;
#LOCATE UGROUP "FC_31" SITE "R40C72D" ;
#UGROUP "FC_32" BBOX 1 48 
#BLKNAME GEN_FC_32_FC;
#LOCATE UGROUP "FC_32" SITE "R44C72D" ;
#UGROUP "FC_33" BBOX 1 48 
#BLKNAME GEN_FC_33_FC;
#LOCATE UGROUP "FC_33" SITE "R48C72D" ;
#UGROUP "FC_34" BBOX 1 48 
#BLKNAME GEN_FC_34_FC;
#LOCATE UGROUP "FC_34" SITE "R51C72D" ;
#UGROUP "FC_35" BBOX 1 48 
#BLKNAME GEN_FC_35_FC;
#LOCATE UGROUP "FC_35" SITE "R53C72D" ;
#UGROUP "FC_36" BBOX 1 48 
#BLKNAME GEN_FC_36_FC;
#LOCATE UGROUP "FC_36" SITE "R57C72D" ;
#UGROUP "FC_37" BBOX 1 48 
#BLKNAME GEN_FC_37_FC;
#LOCATE UGROUP "FC_37" SITE "R62C72D" ;
#UGROUP "FC_38" BBOX 1 48 
#BLKNAME GEN_FC_38_FC;
#LOCATE UGROUP "FC_38" SITE "R66C72D" ;
#UGROUP "FC_39" BBOX 1 48 
#BLKNAME GEN_FC_39_FC;
#LOCATE UGROUP "FC_39" SITE "R71C72D" ;
#UGROUP "FC_40" BBOX 1 48 
#BLKNAME GEN_FC_40_FC;
#LOCATE UGROUP "FC_40" SITE "R75C72D" ;
#UGROUP "FC_41" BBOX 1 48 
#BLKNAME GEN_FC_41_FC;
#LOCATE UGROUP "FC_41" SITE "R80C72D" ;
#UGROUP "FC_42" BBOX 1 48 
#BLKNAME GEN_FC_42_FC;
#LOCATE UGROUP "FC_42" SITE "R84C72D" ;
#UGROUP "FC_43" BBOX 1 48 
#BLKNAME GEN_FC_43_FC;
#LOCATE UGROUP "FC_43" SITE "R87C72D" ;
#UGROUP "FC_44" BBOX 1 48 
#BLKNAME GEN_FC_44_FC;
#LOCATE UGROUP "FC_44" SITE "R91C72D" ;
#UGROUP "FC_45" BBOX 1 48 
#BLKNAME GEN_FC_45_FC;
#LOCATE UGROUP "FC_45" SITE "R93C72D" ;
#UGROUP "FC_46" BBOX 1 48 
#BLKNAME GEN_FC_46_FC;
#LOCATE UGROUP "FC_46" SITE "R98C72D" ;
#UGROUP "FC_47" BBOX 1 48 
#BLKNAME GEN_FC_47_FC;
#LOCATE UGROUP "FC_47" SITE "R102C72D" ;
